// Article card
//----------------------------------------------------------------

@mixin article-card{
  display: block;
  position: relative;

  a{
    text-decoration: none;
    &:hover,
    &:visited:hover{
      color: $color-1;
    }
  }

  // Image
  //----------------------------------------------------------------
  &__img {
    @include aspect-ratio(3,2);
    float:none;
    margin-bottom: 1em;
    @include media(sm){
    margin-bottom: 0.65em;
    }

    img{
      @include object-fit-cover();
    }
  }


  // Label
  //----------------------------------------------------------------
  &__label {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0.75em;
    background: $color-1;
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
  }

  // Body
  //----------------------------------------------------------------
  &__body {
    color: $color-text-weaker;
    min-height:5em;
    font-size: 14px;
    display: flex;
    flex-direction:column;
    @include media(xs){
      font-size: 13px;
    }
  }

  // Title
  //----------------------------------------------------------------
  &__title {
    color: $color-title;
    font-size: 16px;
    position: relative;
    margin: 0 0 5px 0;

    @include media(sm){
      font-size: 15px;
    }

    a{
      color: inherit;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  // Description
  //----------------------------------------------------------------
  &__descr {
font-size: font-size(-1);
    line-height: 1.35;
    margin-bottom: 0.333em!important;
  }

  &__category,
  &__category:visited {
    color: $color-text-weak;
    margin-top: auto;
  }


}//article-card


.article-card {
  @include  article-card;
}

