// Article media object
//----------------------------------------------------------------

@mixin article-media{
  font-size: 15px;
  display: block;
  @include clear();
  margin-bottom: 1em;

  a{
    text-decoration: none;
  }

  &__img {
    @include aspect-ratio(4,3);
    width: 75px;
    float: left;
    margin-right: 1em;
    img{
      @include object-fit-cover();
    }
  }

  &__body {
    overflow: hidden;
  }

  &__title {
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 2px 0;
    font-weight: normal;
    b, a:hover{
      color: $color-1;
    }
  }

  &__category ,
  &__category:visited {
    color: $color-text-weak;
    font-size: 13px;
    line-height: 1.3;

    @include media(xs){
      display: none;
    }
  }


}//article-media

.article-media{
  @include article-media();
}

