// Button defaults
//---------------------------------------------------
$btn-text-color: #fff!default;
$btn-bg-color: $color-1!default;
$btn-hover-text-color: #fff!default;
$btn-hover-bg-color: $color-2!default;
$btn-font-size: 15px!default;
$btn-height: 40px!default;
$btn-border-color: transparent!default;
$btn-border-radius: 0!default;
//---------------------------------------------------

@mixin buttons-elements($class){
  a#{$class},
  button#{$class},
  input[type="submit"]#{$class},
  input[type="button"]#{$class}{
    @content;
  }
}

// Common for all buttons
%button-common{
  @include font2;
  font-size: $btn-font-size;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  height: $btn-height;
  line-height: $btn-height;
  padding: 0 1.75em;
  white-space:nowrap;
  border-radius: $btn-border-radius;
  text-decoration: none;
  border: none;
  cursor: pointer;
  appearance:none;
  -webkit-appearance:none;
}

// Button normal
//---------------------------------------------------
@mixin btn--default(
$color : #fff, // text color
$bg : $btn-bg-color, // background color
$hover-color : #fff, // hover text color
$hover-bg : $btn-hover-bg-color // hover background color
){
  @extend %button-common;
  color: $color;
  background:  $bg;
  font-weight: bold;
  border-radius: $btn-border-radius;
  transition: background-color 0.15s;

  &:visited{
    color: $color;
  }

  &:hover,
  &:visited:hover{
    color: $hover-color!important;
    background: $hover-bg;
  //  border: 1px solid darken($hover-bg, 5%);
  }
}

// Button outlined
//---------------------------------------------------
@mixin btn--out(
$color : $color-1, // text color
$border : $color, // background color
$hover-color : #fff, // hover text color
$hover-bg : $color // hover background color
){
  @extend %button-common;
  color: $color;
  background: transparent;
  font-weight: normal;
  border-radius: $btn-border-radius;
  transition: background-color 0.15s;
  border: 1px solid $border;

  &:visited{
    color: $color;
  }

  &:hover,
  &:visited:hover{
    color: $hover-color;
    background: $hover-bg;
    border-color: transparent;
    text-decoration: none;
  }
}

// Override buttons size
//---------------------------------------------------
@mixin btn--lg{
  font-size: 17px;
  height: 50px;
  line-height: 50px;
  padding: 0 2em;
}

@mixin btn--sm{
  font-size: 13px;
  height: 33px;
  line-height: 32px;
}




// Normal buttons
//---------------------------------------------------
@include buttons-elements('.btn'){

  @include btn--default();

  &.btn--lg{
    @include btn--lg();
  }

  &.btn--sm{
    @include btn--sm();
  }

  &.btn--rnd{
    border-radius: 100px;
  }

  &.btn--c1{
    background: $color-1;
    &:hover{
      background: $color-1-h;
    }
  }
  &.btn--c2{
    background: $color-2;
    &:hover{
      background: $color-2-h;
    }
  }
  &.btn--c3{
    background: $color-3;
    &:hover{
      background: $color-3-h;
    }
  }
}


// Outlined buttons
//---------------------------------------------------
@include buttons-elements('.btn--out'){

  @include btn--out();

  &.btn--rnd{
    border-radius: 100px;
  }
  &.btn--lg{
    @include btn--lg();
  }

  &.btn--sm{
    @include btn--sm();
  }

  &.btn--c1{
    color: $color-1;
    border: 1px solid lighten($color-1, 15%);
    &:hover{
      color: #fff;
      background: $color-1;
    }
  }
  &.btn--c2{
    color: $color-2;
    border: 1px solid lighten($color-2, 15%);
    &:hover{
      color: #fff;
      background: $color-2;
    }
  }
  &.btn--c3{
    color: $color-3;
    border: 1px solid lighten($color-3, 15%);
    &:hover{
      color: #fff;
      background: $color-3;
    }
  }
}
