
// Forms layouts settings
//-----------------------------------------------
$inline-form-height: 40px!default;
$inline-form-padding: $space/2!default;
$form-label-font-size: 14px!default;
$form-box-text-color: $color-text !default;
$form-box-bg-color: $color-bg-subtle!default;
//-----------------------------------------------


.form-field {
  padding-bottom: 10px;
}

form label{
  font-size: $form-label-font-size;
}

// Vertical form
//-----------------------------------------------
.form-vertical {

  label {
    display: block;
    padding-bottom: 5px;
    line-height: 1.1;
  }

  .form-field {
    padding-bottom: $space;
    &:last-child{
      padding-bottom: 0;
    }
  }

  #{$inputs-list}, select{
    width: 100%;
  }
}


// Inline form
//-----------------------------------------------
.form-inline{
  width: 100%;
  display: table;

  .form-field {
    display: table-cell;
    vertical-align: top;
    padding:  0 $inline-form-padding 0 0;


    &.btn-field {
      width: 50px;
      vertical-align: bottom;
    }
  }

  label {
    display: block;
    margin-bottom: 0.25em;
  }

  #{$inputs-list}, select,  {
    width: 100%;
    height: $inline-form-height;
  }

  &.xs-collapse{
    @include media(xs){
      .form-field{
        display: block;
        width: 100%;
        margin-bottom: $space-sm;
      }
      input.btn{
        width: auto;
      }
    }
  }
}

