
// Inputs settings
//------------------------------------------------------------
$input-font-size: 14px!default;
$input-height: 38px!default;
$input-text-color: $color-text!default;
$input-bg-color: #fff!default;
$input-border-color: $color-border!default;
$input-border-focus-color: darken($input-border-color, 10%) !default;
$input-border-radius: 0!default;
$input-placeholder-color: #999!default;
//------------------------------------------------------------

$inputs-list:
'input[type="text"]',
'input[type="search"]',
'input[type="number"]',
'input[type="password"]',
'input[type="email"]';

#{$inputs-list},
textarea,
select{
  @include font1;
  color: $input-text-color;
  font-size: $input-font-size;
  background: $input-bg-color;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;

  &:focus{
    border: 1px solid $input-border-focus-color;
  }

// &:invalid{
//   border: 1px solid $color-warn;
// }
}

#{$inputs-list},
select {
  height: $input-height;
  line-height: $input-height;
  padding: 0 1em;
}

textarea {
  padding:0.5em;
}

select{
  background: $input-bg-color url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='20' height='20' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)'%3E%3Cpath d='M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163c-.409-.418-.436-1.17 0-1.615z' fill='%23999'/%3E%3C/svg%3E")  calc(100% - 10px) center no-repeat;
  background-size: 18px;
  padding-right: 35px;
  &::-ms-expand {
    display: none;
  }
}

::-webkit-input-placeholder {
color: $input-placeholder-color;
}
::-moz-placeholder {
color: $input-placeholder-color;
}
:-ms-input-placeholder {
color: $input-placeholder-color;
}
:-moz-placeholder {
color: $input-placeholder-color;
}
