.clear{
  @include clear;
}

.txt-center{
  width:100%;
  text-align:center;
}

.txt-right{
  width:100%;
  text-align:right;
}

.ov-auto{
  overflow:auto;
}

// Margins
//-----------------------------------------------------

.margin-t{
  margin-top: $space!important;
}

.margin-t-sm{
  margin-top: $space-sm!important;
}

.margin-t-lg{
  margin-top: $space-lg!important;
}

.margin-b{
  margin-bottom: $space!important;
}

.margin-b-sm{
  margin-bottom: $space-sm!important;
}

.margin-b-lg{
  margin-bottom: $space-lg!important;
}

.margin-b-0{
  margin-bottom: 0!important;
}

.margin-b-lg     {
  margin-bottom: $space-lg!important;
}

.margin-y     {
  margin-top: $space!important;
  margin-bottom: $space!important;
}

.margin-y-lg     {
  margin-top: $space-lg!important;
  margin-bottom: $space-lg!important;
}


// Images align
//-----------------------------------------------------

.img-right{
  float:right;
  text-align:center;
  margin:0 0 $space-sm $space;
}

.img-left{
  float:left;
  text-align:center;
  margin:0 $space $space-sm 0;
}

// Show and hide
//-----------------------------------------------------

.hide,
.is-hidden{
  display: none!important;
}

.show,
.is-shown{
  display: block!important;
}


.is-invisible{
  visibility: hidden;
  height: 0;
  overflow: hidden;
  padding: 0!important;
  margin: 0!important;
}

.is-visible{
  visibility: visible;
  height: initial;
  overflow: unset;
}

$breakpoints-list: xs sm2 sm;

@each $key in $breakpoints-list {

  .#{$key}-hide {
    @include media(#{$key}){
      display: none!important;
    }
  }

  .#{$key}-show{
    @include media-up(#{$key}){
      display: none!important;
    }
  }
}

////  Widths
////-----------------------------------------------------
//$width-list:(
//25: 25%,
//33: (1/3)*100%,
//50: 50%,
//100: 100%
//);

//@each $key, $width in $width-list {
//  .xs-#{$key} {
//    @include media(xs){
//      width: map-get($width-list, $key)!important;
//    }
//  }
//  .sm2-#{$key} {
//    @include media(sm2){
//      width: map-get($width-list, $key)!important;
//    }
//  }
//  .sm-#{$key} {
//    @include media(sm){
//      width: map-get($width-list, $key)!important;
//    }
//  }
//}

// Borders
//-------------------------------------------------------
$border: 1px solid $color-border;

@mixin bordered{
  outline: $border;
}

@mixin bordered-inner{
  outline:1px solid rgba(0,0,0,0.075);
  outline-offset: -1px;
}

