@import "home-hero";
@import "home-categories";
@import "popular-articles";
@import "phones-promo";

.page-home{
  background: #fff;
}

.home-section {
  margin-bottom: 30px!important;
  @include media(sm2){
    margin-bottom: 20px!important;
  }
}

.home-discounts{
  padding: 1.5em 0 2em;
  background: $color-bg;
}

.home-products__nav{
text-align: center;
}

