.home-categories__grid{
  @include negative-margins(10px);
  display: flex;
  flex-wrap:wrap;
  align-items:stretch;
  @include media(xs){
    @include negative-margins(5px);
    flex-wrap:nowrap;
    overflow: auto;
  }
}

.home-category,
.home-category--lg {
  padding: 10px;
  background: gray(2);
  @include calc-cell(20%, 10px);
  @include media(1023px){
    @include calc-cell(25%, 10px);
  }

  @include media(767px){
    @include calc-cell(33.33%, 10px);
  }

  @include media(480px){
    min-width: 163px;
    margin: 0 2px 2px;
    flex-basis: 0px;
    flex-grow: 1;
  }
}

.home-category__img,
.home-category__img--btm {
  @include aspect-ratio(1,1);
  margin: 2em auto 0.5em;
  max-width: 130px;
  @include media(xs){
    margin: 1em auto 0.5em;
  }
}

.home-category__name {
  text-align: center;
  font-weight: normal;
  opacity:0.75;
  a{
    text-decoration: none;
  }
  @include media(xs){
    font-size: 14px;
  }
}

.home-category__body {
  padding: 10px 0 15px;
  @include media(xs){
    padding: 0 0 10px;
  }
}

.home-category__btn {
  @include btn--out(#fff, rgba(#fff,0.3), $color-2, #fff);
  text-transform: uppercase;
  min-width:115px;
  font-size: 1em;
}

.home-category__descr,
.home-category__btn {
  display: none;
}


// Wide item
//-----------------------------------------------------

@include media-up(1024px){
  .home-category--lg {
    @include calc-cell(40%, 10px);
    color: #fff;
    background: gray(1);
    display: flex;
    align-items:stretch;
    padding: 0;


    .home-category__img,
    .home-category__img--btm{
      @include aspect-ratio(3,4);
      float: right;
      width: 100%;
      max-width:140px;
      margin: 1em 3em 1em 0;
      order:1;
      @include media(1100px){
        max-width:130px;
        margin: 1em 2em 1em 0;

      }
    }

    .home-category__img--btm{
      @include media-up(1100px){
        margin-top:0;
        margin-bottom:0;
        max-width:160px;

        img{
          object-fit: unset;
          font-family: initial;
          width: 100%;
          height: auto;
          top: auto;
          bottom: -10%;
        }
      }
    }

    .home-category__body {
      font-size: 15px;
      padding: 1.5em 2em 1.5em 2.5em;
      text-shadow: 0 1px 4px rgba(#000, 0.075);
      display: flex;
      flex-direction:column;
      justify-content:center;
      flex: 1 0;
      @include media(1100px){
        font-size: 14px;
        padding: 1.5em 2em 1.5em 2.5em;
      }
    }

    .home-category__name{
      font-size: 1.7em;
      text-align: left;
      font-weight: normal;
      opacity:1;
      line-height: 1;
      a:hover{
        color: #fff;
      }
    }

    .home-category__descr {
      display: block;
      font-size: 1.1em;
      margin: 1.3em 0;
    }

    .home-category__btn {
      display: inline-block;
      align-self:flex-start;
    }

  }//end media
}//home-category--lg



// Colors
//-----------------------------------------------------
.home-categories__grid{

  .home-category,
  .home-category--lg{
    &--purple{
      background: #ECE3FF;
    }

    &--grad-1{
      background: #B273FF;
      background: linear-gradient(45deg, #B273FF 0%, #A9F6FF 100%) 0 0 no-repeat;
      @include media(1023px){
        background: lighten(#B273FF, 10%) linear-gradient(45deg, lighten(#B273FF, 15%) 0%, lighten(#A9F6FF, 10%) 100%) 0 0 no-repeat;
      }
    }

    &--blue{
      background: #D5FCF5;
    }

    &--salad-green{
      background: #E8F8D2;
    }

    &--green{
      background: #CFFFEB;
    }

    &--red{
      background:#FFE3EB;
    }

    &--grad-2{
      background: #FF6DB4;
      background: linear-gradient(45deg, #FF6DB4 0%, #FFB36C 100%) 0 0 no-repeat;
      @include media(1023px){
        background: lighten(#B273FF,19%) linear-gradient(45deg, lighten(#FF6DB4,19%) 0%, lighten(#FFB36C,19%) 100%) 0 0 no-repeat;
      }
      .home-category__btn:hover {
        color: $color-1;
      }
    }

    &--orange{
      background: #F8EDD7;
    }

  }
}


