.home-hero {
  color: #fff;
  background: #D1C6CB url(../../images/home-hero-bg.jpg) center center no-repeat; //fallback
  background:
  linear-gradient(45deg, rgba($color-1, 0.1) 0%, rgba($color-2-h, 0.1) 100%),
  url(../../images/home-hero-bg.jpg) center center no-repeat;
  background-size: cover;
  text-shadow: 0 1px 5px rgba(#000, 0.075);

  @include media(sm2){
    background:
    linear-gradient(45deg, rgba($color-1, 0.4) 0%, rgba($color-2-h, 0.3) 100%),
    url(../../images/home-hero-bg.jpg) center center no-repeat;
    background-size: cover;
  }
}

.home-hero__wrap{
  max-width:713px;
  padding-top: 7em;
  padding-bottom: 7em;
  padding-top: 6.5vw;
  padding-bottom: 6.5vw;
  display: flex;
  flex-direction:column;
  justify-content:center;
  transform:translateY(-1%);

  @include media(1320px){
  padding-top: 5em;
  padding-bottom: 5em;
  }

  @include media(xs){
    padding-top: 3em;
    padding-bottom: 3em;
    transform:translateY(0);
  }
}

.home-hero__logo {
  display: block;
  text-align: center;
  margin-bottom: 2em;
  @include media(xs){
    margin-bottom: 0.5em;
  }

  img{
    width: 220px;

    //IE 11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: auto;
      min-width: 220px;
      min-height: 54px;
    }

    @include media(sm2){
      width: 180px;
    }
    @include media(xs){
      width: 150px;
    }
  }
}

.home-hero__heading {
  font-size: 33px;
  text-align: center;
  font-weight: bold;
  @include media(sm2){
    font-size: 25px;
  }
  @include media(xs){
    font-size: 22px;
  }
}

.home-hero__search-bar {
  $height: 58px;
  $mobile-height: 45px;

  margin: 2em 0;
  border-color: transparent;

  @include media(xs){
    margin: 1.5em 0;
  }

  input.search-bar__input,
  button.search-bar__btn {
    font-size: 19px;
    height: $height;
    line-height: $height;

    @include media(xs){
      font-size: 15px;
      height: $mobile-height;
      line-height: $mobile-height;
    }
  }

  input.search-bar__input {
  }

  button.search-bar__btn {
    &:after{
      font-size: 29px;
      @include media(xs){
        font-size: 22px;
      }
    }
  }
}

.home-hero__rel-searches {
  font-size: 14px;
  height: 40px;
  overflow: hidden;

  @include media(767px){
    overflow: initial;
    height: unset;
  }

  span{
    padding-right: 0.33em;
    @include media(767px){
      display: none;
    }
  }
}

.home-hero__rel-btn {
  font-size: 14px;
  @include btn--out(#fff, rgba(#fff,0.4), $color-1);
  padding: 0 1em;
  background: rgba(#000, 0.04);
  height: 28px;
  line-height: 25px;
  border-radius: 30px;
  margin-bottom: 0.5em;
  @include media(xs){
    font-size: 13px;
  }
}

