.phones-promo {
  color: #fff;
  background: #0C1624 url(../../images/dark-promo-bg.jpg) 0 0 no-repeat;
  background-size: cover;

  a{
    text-decoration: none;
  }
}

.phones-promo__wrap {
  @include clear();
  overflow: hidden;
  position: relative;
  display: flex;
  align-items:stretch;
}

.phones-promo__body {
  font-size: 20px;
  padding: 2.7em 7%;
  flex:1;

  @include media(sm2){
    font-size: 17px;
    padding: 2.7em 7%;
  }

  @include media(xs){
    font-size: 15px;
    padding: 2.7em 8%;
  }
}

.phones-promo__title {
  font-size: 2em;
  line-height: 1;
  font-weight: normal;
  a:hover{
    transition: text-shadow 0.1s;
    color: #fff;
    text-shadow: 0 0 30px #3a88fd;
  }
}

.phones-promo__descr {
  padding: 0.8em 0;
}

.phones-promo__btn {
  font-size: 0.85em;
  text-transform: uppercase;
  @include btn--out(#fff, rgba(#fff,0.5), #fff, $color-3);
}

.phones-promo__img {
  float: right;
  display: block;
  width: 30%;
//  position: relative;
  margin-right: 12%;
  order:1;
  flex-shrink:0;
  @include media(sm2){
    width: 35%;
  }
  @include media(xs){
    width: 25%;
  }

  img{
    position: absolute;
    bottom:0;
    height:90%;
    transition:filter 0.2s;
    &:hover{
      filter:brightness(110%);
    }
  }
}


