.popular-articles {
  position: relative;
  @include section-margin();
}

.popular-articles__heading {
  margin-bottom: 0.75em;
}

.articles-carousel {
@include negative-margins(12px);

  @include media(640px){
    margin: 0;
  }


.carousel__prev{
left:-25px;
@include media(1260px){
left:-20px;
}
}

.carousel__next{
right:-25px;
@include media(1260px){
right:-20px;
}
}

  .article-card {
    margin: 0 12px;
    @include media(640px){
      @include article-media();
      padding: 0;
      &:nth-of-type(n + 4){
        display: none;
      }
    }
  }
}//articles-carousel


