// Base class name
.yh-list {

  // Local variables
//----------------------------------------------------------------

$bg: #EEF6F9; // background color
$bg-hover: #D7EBF4;// background color on hover

$border: #B0BDC5; // border color

// Paddings
$padding-horizontal: 12px; // column padding
$padding-vertical: 12px; // row padding

// Image
$image-width: 70px;
$image-border-color: $border;

// Title
$title-color: $color-1;
$title-hover-color: $color-1-h;

// Description
$descr-color: #333;

// Links desktop
$link-color: $color-1;
$link-hover-color: $color-1-h;

// Links chevron
$link-chevron-color: #ff1940;

// URL
$url-color: #808181;
$url-hover-color: $color-1;

// Rating text color
$rating-text-color: $descr-color;
$rating-text-hover-color: $descr-color;

// Button
$btn-color:#fff;
$btn-hover-color: #0046be;
$btn-background: $color-1;
$btn-hover-background: $color-2;
$btn-width: 120px;
$btn-height: 40px;

// Button mobile
$btn-mob-width: 65px;

// Outer container
//----------------------------------------------------------------
&{
  margin: 0 0 25px;
  padding: 3px 0 0;

  @include media(xs){
    margin: 0 0 15px;
  }
}

&__header{
  @include clear();
}

&__caption{
  color: #a9a9a9;
  font-size: 11px;
  line-height: 11px;
  float: right;
  padding: 5px 0 5px $padding-vertical;
}

&__container{
  margin: 0;
}

// Item
//----------------------------------------------------------------
&__item{
  display: table;
  table-layout: fixed;
  padding:  $padding-vertical;
  width: 100%;
  background: $bg;
  margin-bottom: 10px;
  border: 1px solid $border;

  &:last-of-type{
    margin-bottom: 0;
  }

  @include media(xs){
    padding:  10px;
    margin-bottom: 5px;
  }

  &:hover{
    background: $bg-hover;
  }
}

// Image
//----------------------------------------------------------------
&__img {
  display: table-cell;
  vertical-align: top;
  width: $image-width + $padding-horizontal;
  padding-right: $padding-horizontal;
  font-size: 8px;

  @include media(xs){
    display: none;
  }

  a{
    background: #fff;
  }

  img {
    display: block;
    width: $image-width;
    border: 1px solid $image-border-color;
    @include media(sm2){
      max-width: 100%;
    }
  }
}//img


// Body container
//----------------------------------------------------------------
&__body {
  font-size: 14px;
  line-height: 1.2;
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-right: $padding-horizontal;
  @include media(sm2){
    font-size: 13px;
    padding-right: 0;
  }
}

// Title
//----------------------------------------------------------------
&__title {
  color: $title-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 0 3px 0;
  margin: 0;
  display: block;
  max-width:100%;
  overflow-wrap:break-word;

  @include media(sm2){
    font-size: 16px;
  }

  a{
    text-decoration: none;
    color: $title-color;

    &:hover{
      color: $title-hover-color;
      text-decoration: underline;
    }
  }
}

&__item:hover &__title a{
  text-decoration: underline;
}

// Description
//----------------------------------------------------------------
&__descr {
  color: $descr-color;
  line-height: 1.2;
  margin: 0 0 4px;
  padding: 0;

  a{
    color: inherit;
    text-decoration: none;
  }
}

// Rating
//----------------------------------------------------------------
&__rating {
  display: block;
  line-height: 1;
  margin: 0 0 4px;

  @include media(xs){
    display: none;
  }

  .rating-stars{
    display: block;
    float: left;
    margin-top: -1px;
  }
  a{
    text-decoration: none;
  }
}

&__rating-text {
  color: $rating-text-color;
  text-decoration: none;
  &:hover{
    color: $rating-text-hover-color;
  }
}

// URL
//----------------------------------------------------------------
&__url {
  font-size: 13px;
  color: $url-color;
  line-height: 1;
  text-decoration: none;
  overflow-wrap:break-word;

  a{
    color: inherit;
    text-decoration: none;
    &:hover{
      color: $url-hover-color;
      text-decoration: underline;
    }
  }
}

// Link
//----------------------------------------------------------------
&__link{
  color: $link-color;
  font-size: 15px;
  padding-left: 10px;
  position: relative;
  @include clear();

  //chevron
  &:before{
    content: '»';
    font-weight: bold;
    display: block;
    float: left;
    margin-top: -1px;
    color:$link-chevron-color;
    margin-right: 0.333em;
    position: absolute;
    top:0;
    left:0;
  }


  a{
    color: inherit;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: $link-hover-color;
    }
  }
}

&__link-title{
  font-weight: 600;
  display: block;
  float: left;
}

&__link-descr{
  color: $descr-color!important;
  font-size: 13px;
  display: block;
  float: left;
  clear: both;
  &:before{
    content: '';
    clear:both;
  }
}


// Desktop Links
//----------------------------------------------------------------
&__links--desk {
  color: $link-color;
  display: table-cell;
  vertical-align: top;
  width: 27%;
  padding-right: 10px;
  @include media(sm){
    display: none;
  }
}

// Mobile Links
//----------------------------------------------------------------
&__links--mob{
  width: 100%;
  margin: 0 0 4px 0;
  @include clear;
  @include media-up(sm){
    display: none;
  }
}

&__links--mob &__link{
  font-size: 14px;
  font-size: inherit;
  display: block;
  float: left;
  margin: 0 1em 0 0;
  @include media(xs){
    float: none;
margin-bottom: 2px;
  }

  &:nth-of-type(n + 3){
    display: none;
  }
}


// Buttons
//----------------------------------------------------------------

&__btn-col {
  display: table-cell;
  vertical-align: top;
  padding-top: 1em;
  width: $btn-width;
  @include media(sm){
    padding-top: 0;
  }
  @include media(sm2){
    display: none;
  }
}

&__btn--desk,
&__btn--mob {
  color: $btn-color;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background: $btn-background;
  display: block;
  position: relative;

  &:visited{
    color: $btn-color;
  }

  &:hover{
    color: $btn-hover-color;
    background: $btn-hover-background;
    filter:brightness(110%);
  }
}

&__item:hover &__btn--desk,
&__item:hover &__btn--mob{
  color: $btn-hover-color;
  background: $btn-hover-background;
}

&__btn--desk {
  width: $btn-width;
  height: $btn-height;
  line-height: $btn-height;
  text-decoration: none;
  position: relative;
  padding: 0 1em;
  border-radius: $btn-height;
}//btn-desk


// Mobile button
//----------------------------------------------------------------
&__btn--mob {
  float: right;
  font-size: 16px;
  width: $btn-mob-width;
  height: $btn-mob-width;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 0 0 2px  $padding-vertical/2;
  text-decoration: none;
  border-radius: $btn-mob-width;

  @include media-up(sm2){
    display: none;
  }

  &:before{
    content: '»';
    font-family: Arial, sans-serif;
    font-size: 1.7em;
    display: block;
    width:15px;
    height:15px;
    line-height: 1em;
    line-height: 15px;
    width: 100%;
    margin-bottom: 4px;
    text-align: center;
  }

}//btn-mob


// Extensions
//----------------------------------------------------------------

&__4th-line-annotation,
&__annotation,
&__brand,
&__callouts,
&__categories,
&__phone,
&__rating-list,
&__rating-list,
&__review,
&__security-badge,
&__top-ad {
  margin-bottom: 4px;
  a{
    text-decoration: none;
  }
}

&__categories span{
color: $link-color;
}

&__callouts a{
  color: $link-color;
  &:hover{
    text-decoration: underline;
  }
}


//----------------------------------------------------------------
}// END


// Bottom ads
//----------------------------------------------------------------
.yh-list--btm{
  .yh-list{
    &__body{
      padding-right: 0;
    }

    &__links--mob{
      display: block;
    }


    &__btn-col{
      @include media(sm2){
        display: none;
      }
    }

    &__btn--mob{
      @include media(sm2){
        display: block;
      }
    }
  }
}

