// Base class name
.yh-hclist {

// Local variables
//----------------------------------------------------------------
$bg: #4570E1; // background color
$bg-hover: #0046BF;// background color on hover

$border: transparent; // border color

// Paddings
$padding-horizontal: 15px; // column padding
$padding-vertical: 15px; // row padding

// Image
$image-width: 70px;
$image-border-color: $border;

// Title
$title-color: #fff;
$title-hover-color: $color-2;

// Description
$descr-color: #fff;

// Links desktop
$link-color: $color-2;
$link-hover-color: #fff;

// Links chevron
$link-chevron-color: $color-2;

// URL
$url-color: #92B9FF;
$url-hover-color: $color-2;

// Rating text color
$rating-text-color: $descr-color;
$rating-text-hover-color: $descr-color;

// Button
$btn-color:#0046be;
$btn-hover-color: #0046be;
$btn-background: $color-2;
$btn-hover-background: $color-2-h;
$btn-width: 120px;
$btn-height: 40px;

// Button mobile
$btn-mob-width: 65px;


// Outer container
//----------------------------------------------------------------
&{
  margin: 0 0 5px;
  padding: 3px 0 10px;
}

&__header{
  @include clear();
}

&__caption{
  color: #a9a9a9;
  font-size: 11px;
  line-height: 11px;
  float: right;
  padding: 5px 0 5px $padding-vertical;
}

&__container{
  margin: 0;
}

// Item
//----------------------------------------------------------------
&__item{
  display: table;
  table-layout: fixed;
  padding:  $padding-vertical;
  width: 100%;
  background: $bg;
  margin-bottom: 10px;
  border: 1px solid $border;

  @include media(xs){
    padding: 10px;
    margin-bottom: 5px;
  }

  &:hover{
    background: $bg-hover;
  }
}

// Image
//----------------------------------------------------------------
&__img {
  display: table-cell;
  vertical-align: top;
  width: $image-width + $padding-horizontal;
  padding-right: $padding-horizontal;
  font-size: 8px;

  @include media(xs){
    display: none;
  }

  a{
    background: #fff;
  }

  img {
    display: block;
    width: $image-width;
    border: 1px solid $image-border-color;
    @include media(sm2){
      max-width: 100%;
    }
  }
}//img


// Body container
//----------------------------------------------------------------
&__body {
  font-size: 14px;
  line-height: 1.2;
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-right: $padding-horizontal;
  @include media(sm2){
    font-size: 13px;
    padding-right: 0;
  }
}

// Title
//----------------------------------------------------------------
&__title {
  color: $title-color;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.2;
  padding: 0 0 3px 0;
  margin: 0;
  display: block;
  max-width:100%;
  overflow-wrap:break-word;

  @include media(sm2){
    font-size: 16px;
  }

  a{
    text-decoration: none;
    color: $title-color;

    &:hover{
      color: $title-hover-color;
      text-decoration: underline;
    }
  }
}

&__item:hover &__title a{
  text-decoration: underline;
}

// Description
//----------------------------------------------------------------
&__descr {
  color: $descr-color;
  line-height: 1.2;
  margin: 0 0 4px;
  padding: 0;

  a{
    color: inherit;
    text-decoration: none;
  }
}

// Rating
//----------------------------------------------------------------
&__rating {
  display: block;
  line-height: 1;
  margin: 0 0 4px;

  @include media(xs){
    display: none;
  }

  .rating-stars{
    display: block;
    float: left;
    margin-top: -1px;
  }
  a{
    text-decoration: none;
  }
}

&__rating-text {
  color: $rating-text-color;
  text-decoration: none;
  &:hover{
    color: $rating-text-hover-color;
  }
}

// URL
//----------------------------------------------------------------
&__url {
  font-size: 13px;
  color: $url-color;
  line-height: 1;
  text-decoration: none;
  overflow-wrap:break-word;

  a{
    color: inherit;
    text-decoration: none;
    &:hover{
      color: $url-hover-color;
      text-decoration: underline;
    }
  }
}

// Link
//----------------------------------------------------------------
&__link{
  color: $link-color;
  font-size: 15px;
  font-weight: 600;

  a{
    color: inherit;
    text-decoration: none;
  }

  //chevron
  &:before{
    content: '»';
    font-weight: bold;
    display: block;
    float: left;
    margin-top: -1px;
    color:$link-chevron-color;
    margin-right: 0.333em;
  }

  &:hover{
    text-decoration: underline;
    color: $link-hover-color;
  }
}


// Desktop Links
//----------------------------------------------------------------
&__links--desk {
  color: $link-color;
  display: table-cell;
  vertical-align: top;
  width: 27%;
  padding-right: 10px;
  @include media(sm){
    display: none;
  }
}

// Mobile Links
//----------------------------------------------------------------
&__links--mob{
  width: 100%;
  margin: 0 0 4px 0;
  @include clear;
  @include media-up(sm){
    display: none;
  }
}

&__links--mob &__link{
  font-size: 14px;
  font-size: inherit;
  display: block;
  float: left;
  margin: 0 1em 0 0;
  @include media(xs){
    float: none;
    margin-bottom: 2px;
  }

  &:nth-of-type(n + 3){
    display: none;
  }
}


// Buttons
//----------------------------------------------------------------

&__btn-col {
  display: table-cell;
  vertical-align: middle;
  width: $btn-width;
  @include media(sm){
    vertical-align: top;
  }
  @include media(sm2){
    display: none;
  }
}

&__btn--desk,
&__btn--mob {
  color: $btn-color;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background: $btn-background;
  display: block;
  position: relative;

  &:visited{
    color: $btn-color;
  }

  &:hover{
    color: $btn-hover-color;
    background: $btn-hover-background;
  }
}

&__btn--desk {
  width: $btn-width;
  height: $btn-height;
  line-height: $btn-height;
  text-decoration: none;
  position: relative;
  padding: 0 1em;
  border-radius: $btn-height;

  // // button icon
  // &:after{
  //   content: '';
  //   line-height: $btn-height - 2px;
  //   display:block;
  //   width: 15px;
  //   height: $btn-height - 2px;
  //   float: right;
  //   font-weight: normal;
  //   text-align: center;
  //   background: url(../../images/chevron-right.svg) center center no-repeat;
  //   background-size: contain;
  // }

}//btn-desk


// Mobile button
//----------------------------------------------------------------
&__btn--mob {
  float: right;
  font-size: 16px;
  width: $btn-mob-width;
  height: $btn-mob-width;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 0 0 2px  $padding-vertical/2;
  text-decoration: none;
  border-radius: $btn-mob-width;

  @include media-up(sm2){
    display: none;
  }

  &:before{
    content: '»';
    font-family: Arial, sans-serif;
    font-size: 1.7em;
    display: block;
    width:15px;
    height:15px;
    line-height: 1em;
    line-height: 15px;
    width: 100%;
    margin-bottom: 4px;
    text-align: center;
  }

}//btn-mob

//----------------------------------------------------------------
}// END


// Bottom ads
//----------------------------------------------------------------
.yh-hclist--btm{
  .yh-list{
    &__body{
      padding-right: 0;
    }

    &__links--mob{
      display: block;
    }


    &__btn-col{
      @include media(sm2){
        display: none;
      }
    }

    &__btn--mob{
      @include media(sm2){
        display: block;
      }
    }
  }
}

