// Base class name
.yh-grid {

  // Local variables
  //----------------------------------------------------------------
  $bg: #EEF6F9; // background color
  $bg-hover: #D7EBF4;// background color on hover

  $border: #B0BDC5; // border color

  // Paddings
  $padding: 12px;

  // Image
  $image-width: 60px;
  $image-border-color: $border;

  // Title
  $title-color: $color-1;
  $title-hover-color: $color-1-h;

  // Description
  $descr-color: #333;

  // Links desktop
  $link-color: $color-1;
  $link-hover-color: $color-1-h;

  // Links chevron
  $link-chevron-color: #ff1940;

  // URL
  $url-color: #808181;
  $url-hover-color: $color-1;

  // Rating text color
  $rating-text-color: $descr-color;
  $rating-text-hover-color: $descr-color;

  // Button
  $btn-color:#fff;
  $btn-hover-color: #0046be;
  $btn-background: $color-1;
  $btn-hover-background: $color-2;
  $btn-width: 100px;
  $btn-height: 37px;

  // Button mobile
  $btn-mob-width: 65px;

  // Outer container
  //----------------------------------------------------------------
  &{
    margin: 0 0 25px;
    padding: 3px 0 0;
    @include clear();
    @include media(xs){
      margin: 0 0 15px;
    }
  }

  &__caption{
    color: #a9a9a9;
    font-size: 11px;
    line-height: 11px;
    padding: 5px 0 5px $padding;
    text-align: right;
  }

  &__container{
    margin: 0 -5px;
    display: flex;
    align-items:stretch;
  }

  // Item
  //----------------------------------------------------------------
  &__item{
    padding:  $padding;
    width: calc(25% - 10px);
    float: left;
    background: $bg;
    margin: 5px;
    border: 1px solid $border;

    &:hover{
      background: $bg-hover;
    }
  }

  // Header
  //----------------------------------------------------------------
  &__header{
    background: #fff;
    border: 1px solid $border;
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
    vertical-align: top;
    width: 100%;
    padding-right: $padding;
    margin-bottom: 10px;
    @include clear();
    display: flex;
    align-items:center;
    justify-content:space-between;

    @include media(sm2){
      font-size: 13px;
      padding-right: 0;
    }
  }


  // Image
  //----------------------------------------------------------------
  &__img {
    width: $image-width + $padding;
    padding-right: $padding;
    font-size: 8px;
    float: left;

    @include media(xs){
      display: none;
    }

    a{
      background: #fff;
    }

    img {
      display: block;
      width: $image-width;
      border: 1px solid $image-border-color;
      @include media(sm2){
        max-width: 100%;
      }
    }
  }//img


  &__btn {
    float: right;
    color: $btn-color;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background: $btn-background;
    display: block;
    position: relative;
    margin-left: auto;

    width: $btn-width;
    height: $btn-height;
    line-height: $btn-height;
    text-decoration: none;
    position: relative;
    padding: 0 1em;
    border-radius: $btn-height;

    &:visited{
      color: $btn-color;
    }

    &:hover{
      color: $btn-hover-color;
      background: $btn-hover-background;
      filter:brightness(110%);
    }

    //Mobile button
    @include media(sm){
      font-size: 16px;
      width: $btn-mob-width;
      height: $btn-mob-width;
      text-align: center;
      text-decoration: none;
      border-radius: $btn-mob-width;
      padding: 12px 0 0 0;
      line-height: 1.2;

      &:before{
        content: '»';
        font-family: Arial, sans-serif;
        font-size: 1.7em;
        display: block;
        width:15px;
        height:15px;
        line-height: 15px;
        width: 100%;
        margin-bottom: 4px;
        text-align: center;
      }
    }

  }//btn


&__item:hover &__btn{
  color: $btn-hover-color;
  background: $btn-hover-background;
}


  // Title
  //----------------------------------------------------------------
  &__title {
    color: $title-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    padding: 0 0 5px 0;
    margin: 0;
    display: block;
    max-width:100%;
    overflow-wrap:break-word;


    @include media(1100px){
      font-size: 16px;
    }

    @include media(1100px){
      font-size: 16px;
    }


    a{
      text-decoration: none;
      color: $title-color;

      &:hover{
        color: $title-hover-color;
        text-decoration: underline;
      }
    }
  }

  &__item:hover &__title a{
    text-decoration: underline;
  }

  // Description
  //----------------------------------------------------------------
  &__descr {
    color: $descr-color;
    line-height: 1.2;
    margin: 0 0 4px;
    padding: 0;

    a{
      color: inherit;
      text-decoration: none;
    }
  }

  &__rating-text {
    color: $rating-text-color;
    text-decoration: none;
    &:hover{
      color: $rating-text-hover-color;
    }
  }

  // URL
  //----------------------------------------------------------------
  &__url {
    font-size: 13px;
    color: $url-color;
    line-height: 1;
    text-decoration: none;
    overflow-wrap:break-word;

    a{
      color: inherit;
      text-decoration: none;
      &:hover{
        color: $url-hover-color;
        text-decoration: underline;
      }
    }
  }

  // Link
  //----------------------------------------------------------------
  &__link{
    color: $link-color;
    font-size: 14px;
    font-weight: 500;
    display: block;
    float: left;
    margin: 0 1em 0 0;

    a{
      color: inherit;
      text-decoration: none;
    }

    //chevron
    &:before{
      content: '»';
      font-weight: bold;
      display: block;
      float: left;
      margin-top: -1px;
      color:$link-chevron-color;
      margin-right: 0.333em;
    }

    &:hover{
      text-decoration: underline;
      color: $link-hover-color;
    }

    @include media(xs){
      float: none;
      margin-bottom: 2px;
    }

    &:nth-of-type(n + 3){
      display: none;
    }

  }

  // Links
  //----------------------------------------------------------------
  &__links{
    display: inline-block;
  }


  // Mobile view
  //----------------------------------------------------------------
  @include media(sm){

    &__container{
      margin: 0 0;
      display: block;
    }

    &__item{
      display: block;
      width: 100%;
      padding-left: 85px;
      position: relative;
      margin: 0 0 10px 0;
      @include media(xs){
        padding: 10px;
        margin-bottom: 5px;
      }
    }

    &__header{
      border: none;
      background: transparent;
      width: 65px;
      display: block;
      float: right;
      padding: 0;
      margin-left: 5px;
    }

    &__img{
      position: absolute;
      left:10px;
      top:10px;
    }

  }//end media

  //----------------------------------------------------------------
}// END yh-grid


