
// Layout
// ----------------------------------------------------------------

.article-layout {
  font-size: 16px;
  @include clear();
  background: #fff;
  padding: 2em 1.75em 2em 3.5em;

  display: flex;
  flex-wrap:wrap;
  align-items:stretch;

  @include media(1100px){
    padding: 1.5em 2em 1.5em;
    margin: 0 -20px;
  }

  @include media(xs){
    padding: 1em;
    margin: 0 -10px;
  }


  &__main {
    width: calc(99.9% - 340px);
    float: left;
    padding-right: 3.5em;

    @include media(1100px){
      padding-right: 2em;
    }
    @include media(sm){
      width: 100%;
      padding-right: 0;
    }
  }

  &__sidebar {
    width: 340px;
    float: left;
    margin-bottom: 1.5em;

    @include media(sm){
      width: 100%;
    }
  }

}//article-layout



// Detailed article
// ----------------------------------------------------------------
.article-detail {
  @include section-margin;
  font-size: 16px;
  line-height: 1.5;

  @include media-between(1023px, 1100px){
    font-size: 15px;
  }

  @include media(xs){
    font-size: 14px;
  }

  & > img,  p > img{
    display: block;
    width: 100%
  }

}//article-detail


.article-detail__img{
  @include aspect-ratio(2,1);
  img{
    max-width:100%;
    @include object-fit-cover();
  }
}


h1.article-detail__heading{
  font-size: 35px;
  margin-bottom: 1em;
  @include media(1100px){
    font-size: 32px;
  }
  @include media(xs){
    font-size: 24px;
  }
}


// Article footer
// ----------------------------------------------------------------
.article-detail__footer{
  @include clear();
  clear:both;
  border-top: $border;
  padding: 1.5em 0 0.5em;
  margin-right: 1.75em;
  display: flex;
  align-items:center;
  justify-content:space-between;
  width: 100%;

  @include media(1100px){
    margin-right: 0;
  }

  @include media(640px){
    flex-wrap:wrap;
  }
}

.article-detail__footer-left{
  float: left;
  width: 150px;

  @include media(640px){
    width: 100%;
    float:none;
    margin-bottom: 1em;

    .share-icons{
      justify-content: center;
    }

  }//media
}

.article-detail__footer-right{
  float: right;
  flex:1;

  @include media(640px){
    width: 100%;
    float:none;
  }
}

// Next Link
a.article-detail__next{
  color: $color-3;
  font-size: 17px;
  text-decoration: none;
  color: $color-3;
  max-width:50%;
  float: right;
  transform:translateY(-5px);

  @include media(sm){
    max-width:unset;
  }


  @include media(640px){
    text-align: left;
  }

  @include media(xs){
    font-size: 15px;
  }

  //Caption
  span{
    font-size: 11px;
    color: $color-text-weak;
    display: block;
    text-align: left;
  }

  .icon{
    margin-left: 0.5em;
  }
}


// Related articles
// ----------------------------------------------------------------
.articles--sidebar{
  background: $color-bg;
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
  @include media(xs){
    margin-left: -15px;
    margin-right: -15px;
    padding: 1em;
  }
}

.articles--sidebar__heading{
  margin-bottom: 1em;
}

.articles--sidebar .article-media__title{
  color: $color-text;
}

@include media-between(480px, 1023px){
  .articles--sidebar {

    .article-media__title{
      font-size: 17px;
    }

  }
}//media


.ypaSidebar{
  margin-bottom: 0.5em;
}

