// Layout
//------------------------------------------------------
.categories-layout {
  @include clear();
  margin-bottom: 1.5em;

  &__main {
    width: calc(99.9% - 300px);
    float: left;
    padding-left: 10px;

    @include media(1100px){
      width: calc(99.9% - 250px);
    }


    @include media(sm){
      width: 100%;
      padding-left: 0;
    }
  }

  &__sidebar {
    width: 300px;
    float: left;

    @include media(1100px){
      width: 250px;
    }

    @include media(sm){
      display: none;
      width: 100%;
    }
  }
}//categories-layout


// Grid
//------------------------------------------------------
.categories-grid {
  @include negative-margins(10px);
  display: flex;
  flex-wrap:wrap;
  align-items:stretch;

  @include media(640px){
    @include negative-margins(5px);
  }
}


// Grid item
//------------------------------------------------------
.category {
  border:$border;
  border-radius: 3px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction:column;
  padding: 1em;

  @include calc-cell(25%, 10px);

  @include media(919px){
    @include calc-cell(33.33%, 10px);
  }

  @include media(640px){
    @include calc-cell(50%, 5px);
  }

  // Image
  &__img {
    display: block;
    @include aspect-ratio(4,3);
    width: 100%;
    max-width:160px;
    margin: 0.5em auto;
    flex-shrink:0;
  }

  // Name
  &__name {
    font-size: 15px;
    min-height:3.5em;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content:center;
    text-align: center;
    padding: 0;

    a{
      text-decoration: none;
    }
  }
}// category


// Categories nav
//------------------------------------------------------

.list-nav {
  padding:  0;
  margin: 0;
  background: #fff;
  border: $border;
  border-radius: 3px;
  max-width:360px;

  // Level 1
  &__lv1 {
    margin: 0;
    list-style:none;
    border-bottom: $border;
  }

  &__lv1-name {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    margin: 0;
    display: block;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;

    &:after{
      color: $color-text-weak;
      content: $icon-chevron-down;
      @include font-icons();
      font-weight: normal;
      float: right;
    }

    .is-opened &:after{
      content: $icon-chevron-up;
    }
  }//list-nav__lv1-name

  // Level 2
  &__lv2 {
    padding: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-height:0;
    transition: max-height 0.1s ease-out;

    .is-opened &{
      max-height: 800px;
      margin: -0.333em 0 0 0;
      transition: max-height 0.8s ease-out;
    }

  }//list-nav__lv2

  &__lv2-name {
    color: $color-3;
    font-size: 14px;
    list-style:none;
    margin: 0;
    padding: 0;

    a{
      text-decoration: none;
      display: block;
      padding: 0.4em 1em;
    }// a

    &.is-active a{
      color:#fff;
      background: $color-3;
    }

    &:last-child{
      margin-bottom: 0.75em;
    }

  }// lv2-name


}//list-nav

// Mobile nav
//------------------------------------------------------
.categories-nav--mobile {
  font-weight: bold;
  width: 100%;
  padding: 0;
  margin:  0.5em 0 1.5em;

  li{
    list-style:none;
    display: inline-block;
    margin: 0;
    padding: 0;

    &:after{
      color: $color-text-weak;
      content: $icon-chevron-right;
      vertical-align: middle;
      @include font-icons();
      margin: 0 0.333em;
    }

    &:last-child:after{
      display: none;
    }
  }//li

  a{
    color: $color-3;
    text-decoration: none;
  }

}//categories-nav--mobile

