.info-page{
  color: $color-text;
  margin: 1.2em auto 4em;
  /*max-width: 44em;*/
  line-height: 1.45;
  @include media(xs){
    font-size: 14px;
    margin: 0 auto;
  }


  h1{
    text-align: center;
    margin-bottom: 1.25em;
    @include media(xs){
margin-bottom: 0.7em;
      text-align: left;
    }
  }

  a{
    color: $color-link;
    &:hover,
    &:visited:hover{
      color: $color-link-h;
    }
  }//a

}//info-page

