// Brand colors
//-------------------------------------------------------
$gray: (
-3:#000000,
-2:#222222,
-1:#868686,
 0:#BABABA,
 1:#DFDFDF,
 2:#EEEEEE,
 3:#F5F5F5
);

$red: (
-2: #B22C0F,
-1: #D75336,
 0: #F56C4E,
 1: #FF8956,
 2: #FCE2DC
);

$purple: (
-2:#410F93,
-1:#592E9F,
 0:#7445C0,
 1:#AF48FF,
 2:#F7E6F7
);

$blue: (
-2: #0B29BF,
-1: #3852D4,
 0: #516BEC,
 1: #5F9FFF,
 2: #DDE2FB,
);

$green: (
-2:#6D9C07,
-1:#85BB0E,
 0:#A8D645,
 1:#B1F421,
 2:#F2F8E2
);

$yellow: (
-2:#C69B00,
-1:#FEC600,
 0:#FFDC5F,
 1:#FFEF5F,
 2:#FFF5D2
);


@function gray($index) {
  @return map-get($gray, $index);
}

@function red($index) {
  @return map-get($red, $index);
}

@function purple($index) {
  @return map-get($purple, $index);
}

@function blue($index) {
  @return map-get($blue, $index);
}

@function green($index) {
  @return map-get($green, $index);
}

@function yellow($index) {
  @return map-get($yellow, $index);
}

$color-1: red(0);
$color-1-h: red(1);
$color-1-subtle: red(2);
$color-1-shade: red(-1);

$color-2: purple(0);
$color-2-h: purple(1);
$color-2-subtle: purple(2);
$color-2-shade: purple(-1);

$color-3: blue(0);
$color-3-h: blue(1);
$color-3-subtle: blue(2);
$color-3-shade: blue(-1);

$color-facebook:#5F82C4;
$color-twitter:#43BDF0;
$color-pinterest:#CB2027;
$color-google:#E62B34;

// Text
//-------------------------------------------------------
$color-text-strong: #000;
$color-text: gray(-2);
$color-text-weaker:  gray(-1);
$color-text-weak:  gray(0);
$color-text-subtle: gray(1);
$color-title: $color-text;

// Links
//-------------------------------------------------------
$color-link: inherit;
$color-link-h: $color-1;

// Backgrounds
//-------------------------------------------------------
$color-bg-subtle: gray(3);
$color-bg: $color-bg-subtle; //body background

// Border
//-------------------------------------------------------
$color-border-strong: gray(1);
$color-border: gray(2);
$color-warn: $color-1;

// Inputs
//-------------------------------------------------------
$input-text-color: $color-text;
$input-bg-color: #fff;
$input-border-color: darken(gray(1), 3%);
$input-border-focus-color: darken($input-border-color, 10%);
$input-border-radius: 0;
$input-placeholder-color: $color-text-weak;

// Buttons
//-------------------------------------------------------
$btn-text-color: #fff;
$btn-bg-color: $color-1;
$btn-hover-text-color: #fff;
$btn-hover-bg-color: $color-1-h;

