// Footer settings
//---------------------------------------------------

$footer-bg: gray(3);
$footer-border: 1px solid darken($footer-bg, 6%);

.footer {
  color: darken(gray(-1), 5%);
  background: $footer-bg;
  font-size: 14px;
  margin-top: auto; //for sticky footer
  @include media(sm){
    font-size: 13px;
  }
}

.footer__search{
  border-top: $footer-border;
  border-bottom: $footer-border;
  padding: 25px 0;
}

.footer__search-bar{
  max-width:50em;
  margin: 0 auto;
}

.footer__categories{
  @include negative-margins(20px);
  @include clear();
  display: flex;
  flex-wrap:wrap;
  padding: 20px 0;

  @include media(640px){
    display: none;
  }
}

.footer__category{
  display: block;
  float: left;
  @include calc-cell(20%, 20px, 0);

  @include media(sm){
    @include calc-cell(25%, 20px, 0);
    &:nth-child(n + 5){
      display: none;
    }
  }

  @include media(sm2){
    @include calc-cell(33.3%, 20px, 0);
    &:nth-child(n + 4){
      display: none;
    }
  }

  //category item
  a{
    display: block;
    text-decoration: none;
    margin-bottom: 0.33em;
  }
}

.footer__heading{
  font-weight: bold;
  margin-bottom: 0.25em;
}

.footer__bottom{
  padding: 20px 0;
  background: darken($footer-bg, 5%);
  @include clear();
  @include media(xs){
    padding: 15px 0;
  }
}

.footer__copyright{
  text-transform: uppercase;
  float: left;
  margin-right: 2em;

  @include media(640px){
    text-align: center;
    float: none;
    margin: 0 0 1em 0;
  }
}

.footer__nav{
  float: right;
  flex:1;

  @include media(640px){
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  @include media(420px){
    display: block;
  }

  a{
    color: inherit;
    margin-right: 2em;
    text-decoration: none;

    @include media(640px){
      margin: 0 0.5em 0.5em;
    }
    @include media(420px){
      display: block;
    }

    &:hover{
      text-decoration: underline;
    }
    &:last-of-type{
      margin-right: 0;
    }
  }//a
}

