// Header settings
//---------------------------------------------------

header.header {
  color: #fff;
  background: $color-2;
  box-shadow: 0 1px 0 rgba(#000,0.05);
  position: relative;

  & >  .wrapper{
    display: table;
    table-layout:fixed;
  }

  & + .wrapper{
    margin-top: 25px;
    @include media(xs){
      margin-top: 10px;
    }
  }
}

%header-block{
  display: table-cell;
  padding: 12px 10px;
  vertical-align: middle;
  @include media(sm2){
    padding: 10px 7px;
  }
}


// Logo
//---------------------------------------------------
.header__logo-wrap{
  @extend %header-block;
  width: 165px;
  padding-left: 0;

  @include media(sm){
    width: 120px;
  }

  @include media(sm2){
    width: 120px;
  }

  @include media(xs){
    width: 100px;
  }

  @include media(359px){
    width: 38px;
  }
}

.header__logo,
.header__logo:visited{
  display: block;
  @include media(xs){
    overflow: hidden;
  }
  img{
    max-width:100%;
    transform:translateY(6px);

    @include media(359px){
      height: 36px;
      transform:translateY(4px);
      max-width:unset;
    }
  }
}

// Search
//----------------------------------------------------------------
.header__search{
  @extend %header-block;
  padding-right: 0;
}

.header__search-bar.search-bar{
  max-width:50em;
  margin: 0 auto;

  //float: right;

  border-color: transparent;
    @include media(sm2){
      height: 35px;
      line-height:35px;
    }

  input.search-bar__input,
  .search-bar__btn{
    height: 45px;

    @include media(sm2){
      height: 33px;
      line-height:33px;
    }
  }

  .search-bar__btn{
    @include media(sm2){
padding: 0 0.75em 0 0;
    }
  }
}//header__search-bar

// Menu button
//----------------------------------------------------------------
.header__menu-btn{

  display: none;

  @extend %header-block;
  font-size: 40px;
  line-height: 1;
  padding-right: 0;
  width: 48px;
  cursor: pointer;
  opacity:0.5;
  transition: opacity 0.33s;
  @include media(sm2){
    width: 35px;
    font-size: 32px;
  }

  &:hover,
  &:active{
    opacity:1;
  }

  .icon-menu{
    display: block;
  }
}
