// Headings
//-----------------------------------------------------

@mixin section-heading{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.75em;
  @include media(xs){
    font-size: 15px;
  }
}

@mixin section-heading--lg{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing:0.02em;
  font-weight: bold;
  margin-bottom: 0.75em;
  @include media(xs){
    font-size: 20px;
  }
}

.section-heading{
  @include section-heading();
}

.section-heading--lg{
  @include section-heading--lg();
}

// Margins
//-----------------------------------------------------
@mixin section-margin($adjust:0px){
  margin-bottom: 25px + $adjust!important;
  @include media(sm2){
    margin-bottom: 15px + $adjust!important;
  }
}

@mixin section-margin--lg($adjust:0px){
  margin-bottom: 40px + $adjust;
  @include media(sm2){
    margin-bottom: 20px + $adjust;
  }
}

.section {
  @include section-margin();
}
