// Sidebar search
//------------------------------------------------------
.sidebar{
}

.sidebar__section {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $color-border-strong;

  &:last-child{
    border: none;
  }
}

.sidebar__search {
  margin-bottom: 25px;
}

.sidebar__heading {
  @include section-heading();
}

.sidebar__sticky{
  position:sticky;
  top:2px;
}
