// Images aspect ratio
//------------------------------------------------------

// fixed aspect ratio container, ratio = width / height
@mixin aspect-ratio($width, $height){
  display: block;
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding: (100% / ($width / $height)) 0 0 0; // 100 / (w / h)
    z-index: 1;
  }

  img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    @include object-fit-contain;
  }
}

// object-fit
@mixin object-fit-cover{
  object-fit: cover;
  font-family: 'object-fit: cover';//IE polyfill
}

@mixin object-fit-contain{
  object-fit:contain;
  font-family: 'object-fit: contain';//IE polyfill
}

@mixin object-fit-scale-down{
  object-fit:scale-down;
  font-family: 'object-fit: scale-down';//IE polyfill
}
