// banners
//---------------------------------------------------
.bnr{
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  width: 100%;

  .wrapper{
    overflow: hidden;
  }
}

.bnr,
.bnr--sidebar{
  margin-bottom: $space;
}

.js-fit{
  margin: 0 auto;
}

.bnr--local-result{
  padding: 10px;
  border-bottom: $border;
  @include media(xs){
    padding: 10px 0;
  }
}

