.carousel{
  //overflow: visible!important;
  position: relative;
}

.carousel__wrap{
  @include negative-margins(8px);
  @include media(xs){
    @include negative-margins(4px);
  }

  // aling items height
  & > div{
    display: flex;
    align-items:stretch;

    .carousel__item{
      min-height: 100%;
    }
  }
}

.carousel__item{
  margin: 0 4px;
  @include media(xs){
    margin: 0 2px;
  }
}

.carousel__prev,
.carousel__next{
  color: $color-text-weaker;
  opacity:0.25;
  top:50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 35px;

  @include media(1260px){
    font-size: 30px;
  }

  @include media(820px){
    display: none!important;
  }


  &:hover{
    opacity: 1!important;
    cursor: pointer;
  }
}

.carousel__prev{
  left:-35px;
}
.carousel__next{
  right:-35px;
}

@include media(1260px){
  .carousel__prev{
    left:-25px;
  }
  .carousel__next{
    right:-25px;
  }
}

