.filter-form{
  font-size: 14px;
}

.filter-form__field{
  margin-bottom: 25px;
}

.filter-form__check{
  display: block;
  margin-bottom: 8px;
  span{
    color: lighten($color-text, 25%);
  }
}

button.filter-form__btn.btn--out,
input[type="submit"].filter-form__btn.btn--out{
  padding: 0 4em;
  margin: 0 auto;
  display: block;
  border-color: lighten($color-3, 15%);
  &:hover{
    border-color: $color-3;
  }
}

.filter-form__select{
  width: 100%;
}

.filter-form__range{
  margin-bottom: 10px;
}

// Mobile
.filter-form--mobile{
  padding-bottom: 1.5em;
 height:auto;
 transition: max-height 0.2s ease-out;

 &.is-invisible{
   height: 0;
   max-height:0!important;
 }

  .filter-form__heading.sidebar__heading{
    font-weight: normal;
  }
}

// Mobile
.filter-form--mobile{
overscroll-behavior: none;

.slider {
  @include media(xs){
    width: 91%;
    margin: 1em 4.5%;
  }
}

}
