.hotspots{
  margin-bottom: 1em;
}

// Default hotspot style
//----------------------------------------------------------------
a.hotspot{
  font-size: font-size(-1);
  color: $color-3;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  text-decoration: none;
  margin: 0 0.75em 0.25em 0;
  break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid;

  &:before{
    content: '\25B6 \FE0E';
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    transform:scaleX(0.65);
    color: gray(0);
    position: absolute;
    left:0;
    top:3px;
  }

  &:hover{
    color: $color-1;
    text-decoration: underline;
  }
}

// Hotspot button
//----------------------------------------------------------------
a.hotspot--btn{
  @include btn--out($color-3, lighten($color-3, 15%));
  border-radius: 33px;
  font-size: font-size(-1);
  text-transform: capitalize;
  display: block;
  position: relative;
  text-decoration: none;
  margin: 0 0.75em 0.25em 0;

  &:hover{
    color: #fff;
  }
}

.hotspots__heading {
  @extend .sidebar__heading;
}

// Hotspot button
//----------------------------------------------------------------
a.hotspot--btn-arrow{
  @include btn--out($color-1, $color-1);
  @include btn--lg();
  font-size: font-size(0);
  font-weight: bold;
  text-transform: capitalize;
  display: block;
  position: relative;
  text-decoration: none;
  text-align: left;
  padding: 0 1.5em;
  margin-bottom: 0.5em;

  border: 1px soild $color-1;
  border-image: linear-gradient(to left, #fd9c54 0%, #ff7aab 100%);
  border-image-slice: 1;

  &:after{
    content: '\e914';
    @include font-icons();
    float: right;
    font-size: 20px;
    font-weight: normal;
  }


  &:hover{
  }
}

.hotspots__heading {
  @extend .sidebar__heading;
}


// Hotspots Layouts
//----------------------------------------------------------------

.hotspots__container {
  @include clear();
  .hotspot, .hotspot--btn{
    display: inline-block;
  }
}

//  Line
.hotspots__line{
  height:40px;
  overflow: hidden;
  margin-bottom: 1.5em;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  overflow: hidden;
  @include negative-margins(0.33em);

  @include media(sm2){
    overflow: auto;
    flex-wrap:nowrap;
  }

  .hotspot--btn{
    margin: 0 0.33em;
    float: left;
    flex-grow:1;
    flex-shrink:0;
  }
}

//  Columns
.hotspots__columns{
  width: 100%;
  column-count:4;

  @include media(640px){
    column-count: 3;
  }
  @include media(xs){
    column-count: 2;
  }

  a.hotspot{
    display: block;
    break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
    @include media(xs){
    }
  }
}

// List
.hotspots__list{
  width: 100%;
  a.hotspot{
    display: block;
    margin-bottom: 0.4em;
  }
}

