// Wrapper
//------------------------------------------------
.wrapper {
  width: $md-bp;
  margin: 0 auto;

  @include media($md-bp + (20px * 2)){
    padding: 0 20px;
//    overflow-x:hidden;
    width:100%;
  }

  @include media(sm){
    width: 100%;
    padding: 0 20px;
 //   overflow-x:hidden;
  }

  @include media(xs){
    padding: 0 10px;
  }
}


// 2 column layout with 300px sidebar
//----------------------------------------------------------------
.layout-2col {
  @include clear();

  &__main {
    width: calc(99.9% - 300px);
    float: left;
    padding-right: 40px;

    @include media(1200px){
      padding-right: 20px;
    }
    @include media(sm){
      width: 100%;
      padding-right: 0;
    }
  }

  &__sidebar {
    width: 300px;
    float: left;

    @include media(sm){
      width: 100%;
    }
  }

}// layout-2col

