// Pagination
//-------------------------------------------------------
.pagination{
  margin: 0;
  @include clear();


  a{
    font-size: font-size(0);
    color: $color-text-weaker;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: darken(gray(2), 0%);
    transition: background 0.2s;
    white-space:nowrap;
    line-height: 3em;
    padding: 0 1.5em;

    @include media-up(425px){
      min-width: 158px;
    }

    @include media(425px){
      font-size: font-size(-1);
    }

    &:hover{
      color: #fff;
      background: $color-3;
      text-decoration: none;
    }

    // Buttons icons
    i{
      line-height: 3em;
      display: inline-block;
    }
  }

  // Button ←
  &__prev{
    i{
      float: left;
      margin-right: 0.5em;
      margin-left: -0.5em;
    }
  }

  // Button →
  &__next{
    float: right;
    i{
      float: right;
      margin-left: 0.5em;
      margin-right: -0.5em;
    }
  }

}//pagination

