// Core styles for PriorityNav.js
// These styles are not optional and should always be included
//
// Free to use under the MIT License.
// http://twitter.com/GijsRoge

.priority-nav {
  white-space: nowrap;
  overflow: initial;
  position: relative;
  margin-bottom: 1.25em;
  border-bottom: 3px solid $color-border-strong;
  @include media(xs){
    margin-bottom: 5px;
  }
  // Makes sure the menu's are inline-block so they don't take up
  // the entire width of its parent. This will break the plugin.
  //
}

.priority-nav > ul {
  display: inline-block;
  margin: 0;
  padding: 0 20px 0 0;
  //width: 100%;
}

.priority-nav > ul > li {
  display: inline-block;
  list-style:none;
}


// Link
//-----------------------------------------------------------------
.priority-nav  a {
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  padding: 0 1em 0.1em;
  position: relative;
  @include media(sm2){
    padding: 0 1em 0.1em;
  }
  @include media(xs){
    padding: 0 0.5em 0.1em;
    font-size: 14px;
  }

  &:hover{
    color: $color-1;
  }

  &.is-active{
    color: $color-1;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left:0;
      bottom:0;
      width:100%;
      display: block;
      border-bottom: 3px solid $color-1;
      transform:translateY(7px);
      z-index: 2;
    }
  }
}

.priority-nav-has-dropdown  {
  position: relative;
}

.priority-nav__dropdown-wrapper{
}

// Dropdown
//-----------------------------------------------------------------
.priority-nav__dropdown {
  position: absolute;
  visibility: hidden;
  background: #fff;
  z-index: 100;
  right:0;
  top:25px;
  padding: 10px;
  margin: 0;
  border-radius: 4px;
  border: $border;
  box-shadow: 0 3px 10px rgba(#000,0.1);
}

.priority-nav__dropdown {
  opacity:0;
  transition: opacity 0.25s;
  text-align: left;
  li{
    list-style:none;
    padding: 0.5em;
    margin: 0;
    width: 100%;
    &:last-child{
      margin-bottom: 0;
    }
    a{
      width: 100%;
      display: block;
      &.is-active:after{
        display: none;
      }
    }
  }
}

.priority-nav__dropdown.show {
  visibility: visible;
  opacity:1;
}

// Dropdown button
//-----------------------------------------------------------------
.priority-nav__dropdown-toggle {
  color: $color-text-weak;
  font-size: font-size(-1);
  visibility: hidden;
  position: absolute;
  border: none;
  background: none;
  width: auto;
  height: 22px;
  top:0;
  right:0;
  cursor: pointer;
  display: flex;
  align-items:center;

  &:hover{
    color: $color-text;
  }

  &:after{
    color: $color-text-weak;
    font-size: 20px;
    content: $icon-chevron-down;
    @include font-icons();
    padding-right: 3px;
  }
}

.priority-nav-is-visible {
  visibility: visible;
}

.priority-nav-is-hidden {
  visibility: hidden;
}
