.slider {
  display: block;
  position: relative;
  height: 12px;
  width: 100%;
  user-select:none;
  margin-bottom: 10px;
}

.slider-touch-left, .slider-touch-right {
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  z-index: 2;
  cursor: move;
  margin-top: 0px;
  @include media(xs){
    transform:scale(1.8);
padding: 2px;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    float: right;
    background: #fff;
    border: 1px solid darken($color-text-subtle, 7%);
    border-radius: 50%;
  }
}

.slider-line {
  position: absolute;
  width: calc(100%);
  top: 6px;
  height: 4px;
  border-radius: 4px;
  background: $color-border-strong;
  z-index: 0;
  overflow: hidden;

  span {
    display: block;
    height: 100%;
    width: 0%;
    background: $color-1;
  }
}

.price-slider__result{
  margin-bottom: 0.5em;
  span{
    color: $color-text-weaker;
  }
}
