@mixin search-bar($height:40px, $font-size:14px, $border-radius:0 ){
  //-----------------------------------------------

  position: relative;
  overflow: hidden;
  transition: border 0.3s;
  display: flex;
  width: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: $border-radius;
  border: 1px solid $input-border-color;

  &:focus-within {
    border: 1px solid $color-1;
  }

  input#{&}__input{
    font-size: $font-size;
    padding: 0 1.5em;
    border: none;
    height: $height;
    line-height: $height;
    border: none;
    border-radius: 0;
    float: left;
    min-width:0;
  }

  input#{&}__input{
    flex:1;
    border-radius: 0;
  }


  button#{&}__btn{
    font-size:13px;
    color: $color-1;
    background: $input-bg-color;
    font-weight: bold;
    text-align: center;
    height: $height;
    top:0;
    right: 0;
    border: none;
    cursor: pointer;
    appearance:none;
    -webkit-appearance:none;
    padding: 0 1.25em 0 0;
    float: right;

    &:hover{
      color: $color-2;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    //Button text
    &:after{
      font-size: 1.5*$font-size;
      content: '\e935';
      @include font-icons;
      font-weight: normal;
    }//after

  }//btn


}//search-bar


.search-bar{
  @include search-bar();
}


