// Share icon
//------------------------------------------------
.share-icons {

  $icon-width: 40px;

  display: flex;
  align-items:center;

  a{
    text-decoration: none;
    display: inline-block;
    &:hover{
      filter:brigthness(120%);
    }
  }

  // Caption
  //------------------------------------------------
  & > span{
    font-size: 12px;
    color: #1581C1;
    margin-right: 10px;
  }

  // Icons
  //------------------------------------------------
  a[class^='icon']{
    color: #fff;
    font-size: 0.6 * $icon-width;
    text-align: center;
    display: inline-block;
    width: $icon-width;
    height: $icon-width;
    line-height: $icon-width;
    border-radius: $icon-width;
    margin: 0 0.33em 0 0;

    &:hover{
      filter:brightness(120%);
    }
  }

  .icon-social-facebook {
    background: $color-facebook;
  }
  .icon-social-twitter {
    background: $color-twitter;
  }
  .icon-social-pinterest {
    background: $color-pinterest;
  }
}// Share icons


