.tabs{
  @include clear();
  margin-bottom: 10px;
}

.tabs__nav{
}

.tabs__item{
  height: auto;
  visibility:visible;
  opacity:1;
  transition:opacity 0.1s;

  &.is-invisible{
    height: 0;
    overflow: hidden;
    opacity:0;
    visibility:hidden;
  }
}

