// Search layout
//----------------------------------------------------------------
.search-layout {
  @include clear();
}

.search-layout__main {
  width: calc(99.99% - 260px);
  float: left;
  padding-right: 25px;

  @include media(1200px){
    padding-right: 15px;
  }
  @include media(sm){
    width: 100%;
    padding-right: 0;
  }
}

.search-layout__sidebar {
  width: 260px;
  float: left;

  @include media(sm){
    width: 100%;
    display: none;
  }
}

// Search results
//------------------------------------------------------
.search-results {
}

.search-results__header {
  font-size: 13px;
  display: flex;
  @include clear();
}

.search-results__heading {
  @include section-heading();
  text-transform: capitalize;
  float: left;
  padding: 0;
  flex-grow:1;
}

.sort-form {
  transform:translateY(-2px);
  float: right;
}

.sort-form__label {
  font-size: 13px;
  color: $color-text-weaker;
  display: inline-block;
  padding: 0;
  margin-right: 0;
}


.sort-form__select {
  font-size: 13px;
  border-color: transparent!important;
  background-color: transparent;
  height: 25px;
  line-height: 25px;
  transform:translateX(10px);
  padding: 0 30px 0 2px;
}

.search-results__filters {
  color: $color-text-weaker;
  font-size: 15px;
  float: right;
  margin-left: 1em;
  line-height: 25px;
  cursor: pointer;
  &:hover,
  &:active{
  }
}

.search-results__pagination{
  margin: 0.5em 0 1.5em;
}

