body {
  color: $color-text;
  width: 100%;
  line-height: 1.35;
  @include font-med;
  @include font1;
  background: $color-bg;
  position: relative;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;

  // sticky footer
  display: flex;
  flex-direction:column;
  min-height:100vh;
}


// Headings
//-----------------------------------------------------

$headings: 'h1', 'h2','h3','h4','h5','h6';

// Base
#{$headings} {
  font-weight: bold;
}


// Links
//-----------------------------------------------------
a {
  color: inherit;
  text-decoration: underline;
}

a:hover,
a:visited:hover {
  color: $color-link-h;
}

a:visited {
  color: inherit;
}

// Paragraph
//-----------------------------------------------------
p, ul, ol {
  margin-bottom: 0.75rem;
  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6{
    margin-top: 1.5rem;
  }
}


// Lists
//-----------------------------------------------------

ul, ol{
  margin: 0 0 $space 0;
  padding:0 0 0 1.1em;

  li{
    margin-bottom: 0.3em;
  }
}

ul.list {
  margin:0;
  padding:0;

  li{
    list-style:none;
    margin-left: 1em;
    margin-bottom: 0.5em;

    &:before {
      content: "\2022";
      display: block;
      float: left;
      color: $color-1;
      margin-left: -1em;
    }
  }

  ul {
    padding-left: 0;
  }
}

ul.unstyled{
  margin: 0;
  padding: 0;

  li{
    list-style:none;
    margin-bottom: 0.5em;
  }

  ul {
    padding-left: 0;
  }
}

dl{
  margin: 0 0 $space;
}


dl dt{
  float:left;
  margin-right:0.5em;
}

dl dt{
  font-weight:bold;
}

