$font-dir: "#{$assets}/fonts";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-dir}/icomoon/icomoon.eot?jngj7h');
  src:  url('#{$font-dir}/icomoon/icomoon.eot?jngj7h#iefix') format('embedded-opentype'),
    url('#{$font-dir}/icomoon/icomoon.ttf?jngj7h') format('truetype'),
    url('#{$font-dir}/icomoon/icomoon.woff?jngj7h') format('woff'),
    url('#{$font-dir}/icomoon/icomoon.svg?jngj7h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

//  Fonts
//-------------------------------------------------------

@mixin font1{
//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Oxygen', sans-serif;
}

@mixin font2{
  font-family: 'Oxygen', sans-serif;
}

@mixin font-icons{
  font-family: "icomoon";
}

// Weights
//-------------------------------------------------------

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

//  Sizes
//-------------------------------------------------------

$font-sizes: (
-3: 11px,
-2: 12px,
-1: 14px,
 0: 15px,
 1: 18px,
 2: 22px,
 3: 35px
);

@function font-size($index) {
  @return map-get($font-sizes, $index);
}

@mixin font-xxs{
  font-size: font-size(-3);
}
@mixin font-xs{
  font-size: font-size(-2);
}

@mixin font-sm{
  font-size: font-size(-1);
}

@mixin font-med{
  font-size: font-size(0);
}

@mixin font-larger{
  font-size: font-size(1);
}

@mixin font-lg{
  font-size: font-size(2);
}

@mixin font-xlg{
  font-size: font-size(3);
}

