// Tables
//-----------------------------------------------------

table{

  th,
  td {
    padding: 0.5em 1em;
    text-align:center;
  }
}

//lined table
table.table-lined{

font-size: font-size(-1);

  thead th,
  thead td {
    font-weight:bold;
    border-width:2px;
  }

  th,
  td {
    border-bottom: 1px solid $color-border-strong;
  }

  th:first-child,
  td:first-child {
    padding-left:0;
    text-align:left;
  }

}

//bordered table
table.table-bordered{

font-size: font-size(-1);

  thead th,
  thead td {
    font-weight:bold;
    background:lighten($color-border-strong, 9%);
  }

  th,
  td {
    border: 1px solid $color-border-strong;
  }
}

