@mixin font-size-h1{
  font-size: font-size(3);
  @include media(xs){
    font-size: font-size(2);
  }
}

@mixin font-size-h2{
  font-size: font-size(2);
  @include media(xs){
    font-size: font-size(1);

  }
}

@mixin font-size-h3{
  font-size: font-size(1);
  @include media(xs){
    font-size: font-size(0);
  }
}

@mixin font-size-h4{
  font-size: 16px;
  @include media(xs){
    font-size: font-size(-1);
  }
}

@mixin font-size-h5{
  font-size: font-size(0);
  @include media(xs){
    font-size: font-size(-1);

  }
}

@mixin font-size-h6{
  font-size: font-size(0);
  @include media(xs){
    font-size: font-size(-1);
  }
}

.text-content{
  font-size: 16px;
  line-height: 1.5em;
// background: repeating-linear-gradient(to bottom, pink 0%, white calc(1em * 1.5)) 0 -4px;

  @include media(xs){
    font-size: font-size(-1);
  }

  p, ul, ol, dl, figure{
    margin-bottom: 1.25em;
  }

  #{$headings} {
    @include font2;
    color: inherit;
    line-height: 1.2;
    margin: 1.7rem 0 0.85rem;
    padding: 0;
    font-weight: bold;
    @include media(xs){
      margin: 1rem 0 0.5rem;
    }
  }

  h1 {
    @include font-size-h1;
  }

  h2 {
    @include font-size-h2;
  }

  h3 {
    @include font-size-h3;
  }

  h4{
    @include font-size-h4;
  }

  h5, h6 {
    @include font-size-h5;
  }

}//text-content
