// List
//-------------------------------------------------------
@mixin ypa-sitelinks-list(){
    display: block;
    margin-right: 0;
    column-count:1;
  .ypaAdSiteLinkLine {
    display:block;
    margin-bottom: 0.33em;
  }
}


// Inline
//-------------------------------------------------------
@mixin ypa-sitelinks-inline{
    column-count:1;

  .ypaAdSiteLinkLine {
    display: inline-block;
    margin-right: 0.5em;
  }
}


// Columns
//-------------------------------------------------------
@mixin ypa-sitelinks-columns($col){

column-count:#{$col};

  .ypaAdSiteLinkLine {
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;
  }
}
