@mixin clear{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// List layout
//-------------------------------------------------------

@mixin layout-list($image-width:50px, $button-width:130px, $col-padding:15px, $row-padding:10px){

  // Container
  &Unit {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  // Element
  &Element {
    display:table;
    table-layout:fixed;
    width: auto;
    float: none;
    clear:both;
    margin: 0 0 #{$row-padding} 0;
  }

  //Image
  &ImageDiv {
    display:table-cell;
    width: #{$image-width + $col-padding};
    float: left;
  }

  &ImageInAdImage {
    width: $image-width;
    height: $image-width;
  }

  //Text
  &TextDiv {
    padding-right: 0;
    overflow: hidden;
    width: auto;
    display: block;
  }

  //Title
  &TitleInner {
    overflow-wrap: break-word;
    max-width: calc(100% - #{$button-width + 5px});
    display: inline-block;
  }


  // List Button
  &Title:before{
    width: #{$button-width};
    position: static;
    float: right;
    display: block;
    margin: 0 0 5px 10px;
  }

  // Hide Grid button
  &ImageInAd:after{
    display: none;
  }


  //Links
  &TextDiv > &SiteLinks {
    position: static;
    width:initial;
    padding: 0;
  }
}



// List layout with links on right hand side
//-------------------------------------------------------
@mixin layout-list-rhs-links($image-width, $rhs-links-width, $button-width, $col-padding:15px, $row-padding:10px){

  // Container
  &Unit {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  // Element
  &Element {
    display:table;
    table-layout:fixed;
    width: auto;
    float: none;
    clear:both;
    margin: 0 0 #{$row-padding} 0;
  }

  //Image
  &ImageDiv {
    width: #{$image-width + $col-padding};
    float: left;
  }

  &ImageInAdImage {
    width: $image-width;
    height: $image-width;
  }

  // Hide Grid button
  &ImageInAd:after{
    display: none;
  }

  //List Button
  &Title:before{
    width: #{$button-width};
    position: absolute;
    display: block;
    right:0;
    top:0;
  }

  //Text
  &TextDiv {
    padding-right: calc(#{$button-width} + #{$rhs-links-width});
    position: relative;
    width: auto;
    overflow: hidden;
    display: block;
  }

  //Links
  &TextDiv > &SiteLinks {
    position: absolute;
    width:#{$rhs-links-width};
    top:0;
    padding-right: #{$col-padding};
    right: #{$button-width};
  }

// Move sitelinks to the right using CSS grid layout
//--------------------------------------------------------
  @supports (display: grid) {
    &TextDiv{
      display:grid;
      grid-template-columns: auto calc(#{$rhs-links-width} + #{$col-padding});
      padding-right: calc(#{$button-width} + #{$col-padding});
    }

    &TextDiv > div{
      grid-column:1;
    }

    &TextDiv > &SiteLinks {
      position: static;
      grid-area:1 / 2 / 100;
      width: 100%;
      padding:  0 0 0 #{$col-padding};
    }

  }//supports

}


// Grid layout
//-------------------------------------------------------
@mixin layout-grid($cols, $col-gap, $image-width:55px){

  // Container
  &Unit {
    display: flex;
    margin-left: -#{$col-gap/2};
    margin-right: -#{$col-gap/2};
  }

  // Element
  &Element {
    width: calc(99.99% / #{$cols} - #{$col-gap} );
    margin: 0 #{$col-gap/2};
    float: left;
    clear:none;
  }

  //Image
  &ImageDiv {
    float: none;
    position: relative;
    width: 100%;
  }

  &ImageInAdImage{
    width: #{$image-width};
    height: #{$image-width};
  }


  // Button
  &ImageInAd:after{
    display: block;
    position: absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
  }

  //Text
  &TextDiv {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    display: block;
  }

  //Links
  &TextDiv > &SiteLinks {
    position: static;
    width: 100%;
    padding: 0;
  }

  //Reset List button
  &Title:before{
    display: none;
  }
}
