// »
@function ypa-button-chevron($color){
  @return "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2.646 2.646' height='10' width='10'%3E%3Cg fill='%23#{$color}' fill-rule='evenodd'%3E%3Cpath d='M.738 0H0l.644 1.323L0 2.646h.738l.643-1.323z'  fill='%23#{$color}' overflow='visible'/%3E%3Cpath d='M2.002 0h-.737l.643 1.323-.643 1.323h.737l.644-1.323z' overflow='visible'/%3E%3C/g%3E%3C/svg%3E"
}

// >
@function ypa-button-chevron-1($color){
  @return "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink= 'http://www.w3.org/1999/xlink' fill='%23#{$color}' height='22' width='13'%3E%3Cpath fill='%23fff' d='M3.413.716A1.91 1.91 0 1 0 .587 3.284L3.413.716zm-2.826 17.6a1.91 1.91 0 1 0 2.826 2.568L.587 18.316zM10 10.8l1.413 1.284L12.58 10.8l-1.167-1.284L10 10.8zM.587 3.284l8 8.8 2.826-2.568-8-8.8L.587 3.284zm8 6.232l-8 8.8 2.826 2.568 8-8.8-2.826-2.568z'/%3E%3C/svg%3E"
}

// →
@function ypa-button-chevron-2($color){
  @return "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink= 'http://www.w3.org/1999/xlink' fill='%23#{$color}' height='8' width='16'%3E%3Cpath fill='%23fff' d='M15.629 4.656a.457.457 0 0 0 0-.646l-2.907-2.906a.457.457 0 1 0-.646.645l2.584 2.584-2.584 2.583a.457.457 0 0 0 .646.646l2.907-2.906zM.216 4.79h15.09v-.914H.216v.914z'/%3E%3C/svg%3E"
}

@mixin ypa-button-large($width:120px, $height:35px, $text:'See It'){
  content: '#{$text}';
  display:block;
  width: #{$width};
  text-align: center;
  height: #{$height};
  line-height: #{$height};
  box-sizing:border-box;
}

@mixin ypa-button-small($width:60px, $height:$width, $text:'See It'){
  content: '#{$text}';
  display:block;
  width: #{$width};
  height: #{$height};
  text-align: center;
  padding:0;
  box-sizing:border-box;
}
