.ypaAdTextDiv,
.ypaAdBrandAnnotation,
.ypaAdMRImageImg,
.ypaAdSiteLinks,
.ypaAdSecurityBadgeAnnotation,
.ypaAdLabelKeywordInner,
.ypaAdCallExtensionIcon,
.ypaAdCtaButtonImageDiv,
.ypaAdSiteLinkLine,
.ypaAdSpacing,
.ypaAdReviewExtensionDiv,
.ypaAdLabelText,
.ypaAdURL,
.ypaAdTopAdAnnotation,
.ypaAdLAPhoneNumber,
.ypaAdFavicon,
.ypaAdLabelKeyword,
.ypaAdDesc,
.ypaAdLADirections,
.ypaAdFaviconImg,
.ypaAdSiteLinkDescItem,
.ypaAdImageDiv,
.ypaAdCalloutExtensionDiv,
.ypaAdSiteLink,
.ypaAdAnchor,
.ypaAdElement,
.ypaAdMRCount,
.ypaAdMerchantRatingsText,
.ypaAdTitle,
.ypaAdMerchantRatings,
.ypaAdLocalAds,
.ypaAdMRDomain,
.ypaAdFourthLineAnnotationDiv,
.ypaAdSiteLinkDesc,
.ypaAdSmartAnnotations,
.ypaAdTitleAndOfficialSiteBadge,
.ypaAdUnit,
.ypaAdLabel,
.ypaAdBox,
.ypaAdMRImage,
.ypaAdOfficialSiteBadge,
.ypaAdCallExtension
{
    background : none;
    border : none;
    bottom : auto;
    box-shadow : none;
    box-sizing : border-box;
    clear : none;
    color : inherit;
    display : initial;
    float : none;
    font-family : inherit;
    font-size : unset;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    left : auto;
    line-height : unset;
    list-style : none;
    margin : 0;
    opacity : 1;
    outline : 0;
    overflow : unset;
    padding : 0;
    right : auto;
    table-layout : unset;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-indent : 0;
    text-shadow : none;
    top : auto;
    white-space : normal;
    width : auto;
    z-index : auto;

    // basic modern patch
    // all: initial;
    // all: unset;
}


.ypaAdTitle,.ypaAdTitleInner,.ypaAdDesc,.ypaAdDescInner,.ypaAdURL,.ypaAdURLInner,.ypaAdKeyword,.ypaAdLocalAds,.ypaAdLocalAdLine,.ypaAdLAAddr1,.ypaAdLAAddr2,.ypaAdLACity,.ypaAdMRLabel,.ypaAdCOEPhrase,.ypaAdReviewSourceText,.ypaAdReviewText,.ypaAdReviewUrl,.ypaAdFourthLineText {
  display: inline !important;
  width: initial !important;
  vertical-align: unset !important;
}

// .ypaAdSiteLinkLine .ypaAdKeyword {
//   max-width: 100% !important;
//   max-width: 100% !important;
//   display: inline-block !important;
//   white-space: unset;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
