            .ypaAdTextDiv {
                vertical-align: top;
                display: table-cell;
                padding: 0 0 15px 0;
                width: 100%;
            }

            .ypaAdBrandAnnotation {
                font-size: 14px;
                vertical-align: bottom;
                margin: 0 0 0 0;
                margin-top: 2px;
                color: #AAA;
            }

            .ypaAdMRImageImg {
                vertical-align: middle;
            }

            .ypaAdSiteLinks {
                font-size: 13px;
                font-weight: normal;
                padding: 5px 0px 0px 0px;
                color: #000;
            }

            .ypaAdSecurityBadgeAnnotation {
                font-size: 14px;
                vertical-align: bottom;
                margin: 0 0 0 0;
                margin-top: 2px;
                color: #AAA;
            }

            .ypaAdLabelKeywordInner {
                vertical-align: bottom;
                font-weight: bold;
            }

            .ypaAdCallExtensionIcon {
                vertical-align: middle;
                margin: 0 6px 0 0;
                height: 12px;
                width: 12px;
            }

            .ypaAdCtaButtonImageDiv {
                vertical-align: top;
                display: table-cell;
                padding: 0 10px 15px;
            }

            .ypaAdSiteLinkLine {
                vertical-align: top;
                display: inline-block;
                width: 45%;
            }

            .ypaAdSpacing {
                margin: 0 0 15px 0;
            }

            .ypaAdReviewExtensionDiv {
                font-size: 14px;
                font-weight: normal;
                color: #000;
            }

            .ypaAdLabelText {
                font-size: 11px;
                vertical-align: middle;
                color: #AAA;
            }

            .ypaAdURL {
                font-size: 14px;
                margin: 0 5px 0 0;
                margin-top: 2px;
                color: #008A00;
            }

            .ypaAdTopAdAnnotation {
                font-size: 14px;
                font-weight: normal;
                color: #000;
            }

            .ypaAdLAPhoneNumber {
                vertical-align: middle;
            }

            .ypaAdFavicon {
                margin: 0 4px 0 0;
            }

            .ypaAdLabelKeyword {
                font-size: 11px;
                vertical-align: bottom;
                color: #BBB;
            }

            .ypaAdDesc {
                font-size: 14px;
                margin: 0 5px 0 0;
                color: #000000;
            }

            .ypaAdLADirections {
                vertical-align: middle;
                margin-left: 5px;
            }

            .ypaAdFaviconImg {
                vertical-align: top;
                border: none;
            }

            .ypaAdSiteLinkDescItem {
                display: block;
            }

            .ypaAdImageDiv {
                vertical-align: top;
                display: table-cell;
                padding: 0 10px 15px;
            }

            .ypaAdCalloutExtensionDiv {
                font-size: 14px;
                font-weight: normal;
                color: #000;
            }

            .ypaAdSiteLink {
                font-size: 13px;
                font-weight: bold;
                color: #9DADBA;
            }

            .ypaAdAnchor {
                font-style: normal;
                text-decoration: none;
            }

            .ypaAdElement {
                display: table-row;
                padding: 0px;
                margin: 0px;
                width: 100%;
            }

            .ypaAdMRCount {
                vertical-align: bottom;
            }

            .ypaAdMerchantRatingsText {
                vertical-align: middle;
            }

            .ypaAdTitle {
                font-size: 16px;
                margin: 0 5px 0 0;
                color: #0000D2;
            }

            .ypaAdMerchantRatings {
                font-size: 13px;
                font-weight: normal;
                color: #000;
            }

            .ypaAdLocalAds {
                font-size: 13px;
                font-weight: normal;
                color: #000;
            }

            .ypaAdMRDomain {
                vertical-align: middle;
            }

            .ypaAdFourthLineAnnotationDiv {
                font-size: 14px;
                font-weight: normal;
                color: #000;
            }

            .ypaAdSiteLinkDesc {
                font-size: 13px;
                display: block;
                font-weight: normal;
                padding: 0px 0px 10px 0px;
                color: #000;
                font-family: Arial, Helvetica, sans-serif;
            }

            .ypaAdSmartAnnotations {
                font-size: 14px;
                margin: 0 5px 0 0;
                color: #000;
            }

            .ypaAdTitleAndOfficialSiteBadge {
                display: inline;
            }

            .ypaAdUnit {
                display: table;
                padding: 0px;
                margin: 0px;
                list-style: none;
                width: 100%;
            }

            .ypaAdLabel {
                margin: 5px 0 0 0;
            }

            .ypaAdBox {
                line-height: 17px;
                background-color: #FFFFFF;
                padding: 5px;
                border: 1px solid #FFFFFF;
                font-family: Arial, Sans-serif;
            }

            .ypaAdMRImage {
                vertical-align: bottom;
            }

            .ypaAdOfficialSiteBadge {
                font-size: 12px;
                background-color: #88A2C4;
                font-weight: bold;
                margin: 5px 0;
                padding: 0 7px;
                border-radius: 3px;
                color: #FFF;
            }

            .ypaAdCallExtension {
                font-size: 13px;
                font-weight: normal;
            }

            .ypaAdTitle,.ypaAdTitleInner,.ypaAdDesc,.ypaAdDescInner,.ypaAdURL,.ypaAdURLInner,.ypaAdKeyword,.ypaAdLocalAds,.ypaAdLocalAdLine,.ypaAdLAAddr1,.ypaAdLAAddr2,.ypaAdLACity,.ypaAdMRLabel,.ypaAdCOEPhrase,.ypaAdReviewSourceText,.ypaAdReviewText,.ypaAdReviewUrl,.ypaAdFourthLineText {
                display: inline !important;
                width: initial !important;
                vertical-align: middle !important;
            }

            .ypaAdSiteLinkLine .ypaAdKeyword {
                max-width: 100% !important;
                max-width: calc(100% - 10px) !important;
                display: inline-block !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
