//  remove this wrapper !!!!!!!


.ypaBottom{

@import "../../common/utils/responsive";
@import "../settings";

// for testing
//@import "ypa-default";

//reset default YPA styles
@import "ypa-reset";
// Layouts mixins
@import "ypa-layouts";
// Buttons mixins
@import "ypa-buttons";
// Sitelinks mixins
@import "ypa-sitelinks";

$container-bg: transparent; // container background
$item-gradient-1: #e8434b;
$item-gradient-2: #ff7c4d;
$item-bg: #e8434b linear-gradient(120deg, $item-gradient-1 0%, $item-gradient-2 100%) 0 0 no-repeat;

$item-hover-gradient-1: $color-2;
$item-hover-gradient-2: $color-2-h;
$item-hover-bg: $color-2 linear-gradient(120deg, $item-hover-gradient-1 0%, $item-hover-gradient-2 100%) 0 0 no-repeat;// background color on hover

$border: transparent; // border color

$label-color: #bababa;

// Image
$image-border-color: $border;

// Title
$title-color: #fff;
$title-hover-color: $color-1-h;

// Description
$descr-color: #fff;
$descr-hover-color: $color-1-h;

// Links desktop
$link-color: #fff;
$link-hover-color: $color-1-h;

// Links chevron
$link-chevron-color: yellow(0);

// URL
$url-color: rgba(#fff, 0.5);
$url-hover-color: $color-1;

// Rating text color
$rating-text-color: rgba(#fff, 0.6);
$rating-text-hover-color: #fff;

// Button
$btn-color:#fff;
$btn-grad-1: $color-2;
$btn-grad-2: $color-2-h;
$btn-background: linear-gradient(to bottom, $btn-grad-2 0%, $btn-grad-1 100%);

$btn-hover-color: #fff;
$btn-hover-grad-1: $color-1;
$btn-hover-grad-2: $color-1-h;
$btn-hover-background: linear-gradient(to bottom, $btn-hover-grad-2 0%, $btn-hover-grad-1 100%);

$btn-text: 'See It';


// Layouts
//=========================================================
.ypaAd{

  @include layout-list(
  60px, // image width
  150px, // buttons width
  10px, // columns padding
  7px // row padding
  );

  @include media(sm2){
    @include layout-list(
    60px, // image width
    60px, // button column width
    10px, // columns padding
    7px // row padding
    );
  }
}


// Buttons
//=========================================================

@mixin button-background($gradient-background, $fallback-background){
  //fallback
  background: $fallback-background url(ypa-button-chevron-1('fff')) 95px center / 8px no-repeat;

  background:
  //icon
  url(ypa-button-chevron-1('fff')) 95px center / 8px no-repeat,
  //bg
  $gradient-background 0 0 / 100% no-repeat;

  @include media(sm2){
    background-position: center 12px, 0 0;
    background-size:  11px, 100%;
  }
}


.ypaAdTitle:before{
  @include ypa-button-large(120px, 40px, $btn-text);// width, height , text
  @include button-background($btn-background, $btn-grad-1);
  font-size: 15px;
  font-weight: bold;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  border-radius: 60px;
  &:hover{
    cursor: pointer;
  }

  @include media(sm2){
    @include ypa-button-small(60px, 60px, $btn-text);
    font-size: 14px;
    text-transform: none;
    padding: 20px 0 0 0;
  }
}

// hover
.ypaAdElement:hover .ypaAdTitle:before{
  color: $btn-hover-color;
  @include button-background($btn-hover-background, $btn-hover-grad-1);
}

// Links
//-------------------------------------------------------
.ypaAdSiteLinks {

  @include ypa-sitelinks-inline();

  @include media(xs){
    margin-top: 0.2em;
  }
}

.ypaAdSiteLinkLine {
  position: relative;
  padding-left: 11px;
  margin-bottom: 3px;
  @include media(xs){
    &:nth-of-type(n + 3){
      display: none;
    }
  }

  &:before{
    content: '\25B6 \FE0E';
    font-size: 10px;
    transform:scaleX(0.65);
    color: $link-chevron-color;
    position: absolute;
    left:0;
    top:3px;
  }
}

.ypaAdKeyword {
  color: $link-color;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  @include media(sm2){
    font-size: 14px;
  }
  &:hover{
    color: $link-hover-color;
  }
}

.ypaAdSiteLinkDesc{
  font-size: 13px;
  display: block;
}

// Box
//-------------------------------------------------------
.ypaAdBox {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $container-bg;
  margin-bottom: 0px;
  *{
    box-sizing:border-box;
  }
}

// Label
//-------------------------------------------------------
.ypaAdLabel{
  font-size: 11px;
  text-align: right;
}

.ypaAdLabelText {
  color: $label-color;
  margin: 3px 0 2px;
  display: inline-block;
}

// Wrapper
//-------------------------------------------------------
.ypaAdLabel,
.ypaAdSS {
  display: block;
  overflow-x:hidden;
  width:100%;
  padding: 0;
}

// Unit (ads container)
//-------------------------------------------------------
.ypaAdUnit {
  @include clear();
  padding: 0;
  margin-bottom:10px;
}

// Ad Element
//-------------------------------------------------------
.ypaAdElement {
  list-style:none;
  padding: 0;
  position: relative;
  border: 1px solid $border;
  padding: 15px;
  box-sizing:border-box;
  background: $item-gradient-1;
  background: $item-bg;
  width: 100%;
  @include clear();

  @include media(sm2){
    padding: 10px;
  }
  @include media(xs){
    padding: 10px 6px 6px 10px;
  }

  &:hover{
    background: $item-hover-gradient-1;
    background: $item-hover-bg;
  }
}

.ypaAdAnchor{
  cursor: pointer;
}


// Image container
//-------------------------------------------------------
.ypaAdImageDiv {
  @include media(640px){
    display: none;
  }
}

.ypaAdImageInAd {
  display: block;
}

.ypaAdImageInAdImage {
  border: 1px solid $border;
}


// Ad content wrapper
//-------------------------------------------------------
.ypaAdTextDiv {
  color: $descr-color;
  font-size: 14px;
  line-height: 1.25;

  @include media(sm2){
    font-size: 13px;
  }

  a{
    text-decoration: none;
    &:hover{
      color: $descr-hover-color;
    }
  }
}


// Line 1
// -------------------------------------------------------
.ypaAdTitleAndOfficialSiteBadge {
  margin-bottom: 3px;
}

// Title
// -------------------------------------------------------
.ypaAdTitle {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.2;
  overflow-wrap:break-word;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);

  @include media(sm2){
    font-size: 17px;
    line-height: 1.1;
  }

  b{
    font-weight: 600;
  }
}

.ypaAdTitleInner {
  color:$title-color;
  overflow-wrap:break-word;
  &:hover{
    color:$title-hover-color;
    text-decoration: underline;
  }
}


// Rating
//-------------------------------------------------------
.ypaAdMerchantRatings {
  font-size: 13px;
  margin:0 0 3px 0;
}

.ypaAdMRImage {
  display: inline-block;
  vertical-align: top;
  width: 76px;
  height: 14px;
}

.ypaAdMRImageImg {
  vertical-align: middle;
}

.ypaAdMerchantRatings .ypaAdAnchor {
  vertical-align: middle;
}

.ypaAdMRCount, .ypaAdMRLabel, .ypaAdMRDomain {
  color: $rating-text-color;
  font-size: 13px;
}

// Line 2
//-------------------------------------------------------
.ypaAdURL {
  font-size: 13px;
  max-width:100%;
  overflow-wrap:break-word;
}

.ypaAdURLInner {
  color: $url-color;
  &:hover{
    color: $url-hover-color;
  }
}



}
