//  remove this wrapper !!!!!!!

.ypaMiddle{

@import "../../common/utils/responsive";
@import "../settings";

// needed for testing
//@import "ypa-default";

//reset default YPA styles
@import "ypa-reset";
// Layouts mixins
@import "ypa-layouts";
// Buttons mixins
@import "ypa-buttons";
// Sitelinks mixins
@import "ypa-sitelinks";


$container-bg: transparent; // container background
$item-bg: #fff;
$item-hover-bg: #fff;// background color on hover

$border: $color-border; // border color

$label-color: #bababa;

// Image
$image-border-color: $border;

// Title
$title-color: $color-1;
$title-hover-color: $color-1;

// Description
$descr-color: $color-text;
$descr-hover-color: $color-1;

// Links desktop
$link-color: $color-3;
$link-hover-color: $color-1;

// Links chevron
$link-chevron-color: $color-1;

// URL
$url-color: $color-text-weak;
$url-hover-color: $color-1;

// Rating text color
$rating-text-color: $color-text-weak;
$rating-text-hover-color:$color-1;

// Button
$btn-color:#fff;
$btn-background: $color-1;
$btn-hover-color: #fff;
$btn-hover-background: $color-2-h;
$btn-text: 'See It';


// Button
$btn-color:#fff;
$btn-grad-1: $color-1;
$btn-grad-2: $color-1-h;
$btn-background: linear-gradient(to bottom, $btn-grad-2 0%, $btn-grad-1 100%);

$btn-hover-color: #fff;
$btn-hover-grad-1: $color-2;
$btn-hover-grad-2: $color-2-h;
$btn-hover-background: linear-gradient(to bottom, $btn-hover-grad-2 0%, $btn-hover-grad-1 100%);

// Layouts
//=========================================================
.ypaAd{

  @include layout-list(
  65px, // image width
  110px, // buttons width
  10px, // columns padding
  7px // row padding
  );

  @include media(sm2){
    @include layout-list(
    60px, // image width
    60px, // button column width
    10px, // columns padding
    7px // row padding
    );
  }
}

// Buttons
//=========================================================

@mixin button-background($gradient-background, $fallback-background){
  //fallback
  background: $fallback-background url(ypa-button-chevron-1('fff')) 95px center / 8px no-repeat;

  background:
  //icon
  url(ypa-button-chevron-1('fff')) 95px center / 8px no-repeat,
  //bg
  $gradient-background 0 0 / 100% no-repeat;

  @include media(sm2){
    background-position: center 12px, 0 0;
    background-size:  11px, 100%;
  }
}

.ypaAdTitle:before{
  @include ypa-button-large(120px, 40px, $btn-text);// width, height , text
  @include button-background($btn-background, $btn-grad-1);
  color: $btn-color;
  font-size: 15px;
  font-weight: bold;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  border-radius: 60px;
  &:hover{
    cursor: pointer;
  }

  @include media(sm2){
    @include ypa-button-small(60px, 60px, $btn-text);
    font-size: 14px;
    text-transform: none;
    padding: 20px 0 0 0;
  }
}

//hover
.ypaAdElement:hover .ypaAdTitle:before{
  color: $btn-hover-color;
  @include button-background($btn-hover-background, $btn-hover-grad-1);
}




// Links
//-------------------------------------------------------
.ypaAdSiteLinks {
  @include ypa-sitelinks-inline();

  @include media(sm){
    @include ypa-sitelinks-columns(2);
  }
}

.ypaAdSiteLinkLine {
  position: relative;
  padding-left: 11px;
  margin-bottom: 3px;
  @include media(sm){
    &:nth-of-type(n + 3){
      display: none;
    }
  }

  &:before{
    content: '\25B6 \FE0E';
    font-size: 10px;
    transform:scaleX(0.65);
    color: $link-chevron-color;
    position: absolute;
    left:0;
    top:1px;
  }
}

.ypaAdKeyword {
  color: $link-color;
  font-size: 13px;
  font-weight: normal;
  overflow: hidden;
  @include media(sm2){
    font-size: 14px;
  }
  &:hover{
    color: $link-hover-color;
  }
}

.ypaAdSiteLinkDesc{
  font-size: 13px;
  display: block;
}

// Box
//-------------------------------------------------------
.ypaAdBox {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $container-bg;
  margin-bottom: 20px;
}

// Label
//-------------------------------------------------------
.ypaAdLabel{
  font-size: 11px;
  text-align: right;
}

.ypaAdLabelText {
  color: $label-color;
  padding: 0;
  display: inline-block;
}

// Wrapper
//-------------------------------------------------------
.ypaAdLabel,
.ypaAdSS {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  @include media(sm){
    width: 100%;
    padding: 0;
    overflow-x:hidden;
  }

  @include media(xs){
    padding: 0;
  }
}

// Unit (ads container)
//-------------------------------------------------------
.ypaAdUnit {
  padding: 0;
  @include clear();
}

// Ad Element
//-------------------------------------------------------
.ypaAdElement {
  list-style:none;
  padding: 0;
  position: relative;
  border: 1px solid $border;
  padding: 15px;
  box-sizing:border-box;
  background: $item-bg;
  width: 100%;
  border-image: linear-gradient(to left, #fd9c54 0%, #ff7aab 100%);
  border-image-slice: 1;
  border-width: 1px;
  @include clear();

  @include media(sm2){
    padding: 10px;
  }

  &:hover{
    background: $item-hover-bg;
  }
}

//Links
.ypaAdAnchor{
  cursor: pointer;
}


// Image container
//-------------------------------------------------------
.ypaAdImageDiv {
  @include media(640px){
    display: none;
  }
}

.ypaAdImageInAd {
  display: block;
}

.ypaAdImageInAdImage {
  border: 1px solid $border;
}

// Ad content wrapper
//-------------------------------------------------------
.ypaAdTextDiv {
  color: $descr-color;
  font-size: 13px;
  line-height: 1.25;

  @include media(sm2){
    font-size: 13px;
  }

  a{
    text-decoration: none;
    &:hover{
      color: $descr-hover-color;
    }
  }
}

// Line 1
// -------------------------------------------------------
.ypaAdTitleAndOfficialSiteBadge {
  margin-bottom: 3px;
}


// Title
// -------------------------------------------------------
.ypaAdTitle {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.2;
  overflow-wrap:break-word;

  @include media(sm2){
    font-size: 16px;
    line-height: 1.1;
  }

  b{
    font-weight: 600;
  }
}

.ypaAdTitleInner {
  color:$title-color;
  overflow-wrap:break-word;
  &:hover{
    color:$title-hover-color;
    text-decoration: underline;
  }
}


// Rating
//-------------------------------------------------------
.ypaAdMerchantRatings {
font-size: 13px;
  margin:0 0 3px 0;
}

.ypaAdMRImage {
  display: inline-block;
  vertical-align: top;
  width: 76px;
  height: 14px;
}

.ypaAdMRImageImg {
  vertical-align: middle;
}

.ypaAdMerchantRatings .ypaAdAnchor {
  vertical-align: middle;
}

.ypaAdMRCount, .ypaAdMRLabel, .ypaAdMRDomain {
  color: $rating-text-color;
  font-size: 13px;
}


// Line 2
//-------------------------------------------------------
.ypaAdURL {
  font-size: 13px;
  max-width:100%;
  overflow-wrap:break-word;
}

.ypaAdURLInner {
  color: $url-color;
  &:hover{
    color: $url-hover-color;
  }
}


}//remove this
