// Price area
//------------------------------------------------------------------
.price-area{
  width: 100%;
  padding: 0.75em 2em;
  margin: 1.5em 0;
  border: 1px dashed darken($color-border-strong, 5%);
  //border-image: repeating-linear-gradient( 45deg, transparent, transparent 4px, darken($color-border-strong, 5%) 4px, darken($color-border-strong, 5%) 8px) 1;
  $dash-color-1: transparent;
  $dash-color-2: $color-2-h;
  $dash-width: 4px;

  border-image: repeating-linear-gradient( 45deg,
  $dash-color-1,
  $dash-color-1 $dash-width,
  $dash-color-2 $dash-width,
  $dash-color-2 2*$dash-width
  ) 1;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content:space-between;

  @include media(xs){
    padding: 1.5em 1em;
    justify-content:space-around;
  }

//Layout
  &__price {
    float: left;
    @include media(xs){
      margin-bottom: 1em;
    }
  }

  &__label {
    display: block;
    span{
      font-size: 11px;
      background: yellow(0);
      padding: 0.1em 0.5em;
    }
  }

  &__value {
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
  }

  &__old {
    font-size: 13px;
    color:$color-text-weak;
    display: block;
    @include media(xs){
 //     font-size: 12px;
    }
  }

  &__merchant {
    float: left;
    width: 25%;
    @include media(xs){
      width: 40%;
      margin-bottom: 1em;
    }
  }

  &__merchant-img {
    @include aspect-ratio(2,1);
    width: 85%;
    margin: 0 auto;

    img {
      @include object-fit-contain();
    }
  }

  &__btn-wrap {
    @include media-up(sm){
      width:175px;
    }
    @include media(xs){
      width: 100%;
    }
  }

  &__btn.btn {
    width: 100%;
    height: 46px;
    line-height: 46px;
    @include media(xs){
      width: 100%;
      padding: 0 0.2em;
    }
  }
}

