// Product
//------------------------------------------------------------------

.product-detail {
  @include section-margin();
  background: #fff;
  padding: 30px 35px;
  width: 100%;
  @include media(xs){
    width: auto;
    padding: 15px 10px;
    margin: 0 -10px;
  }

  &__layout {
    @include clear();
  }

  &__img-wrap {
    width: 37%;
    margin-right: 35px;
    float: left;
    @include media(sm2){
      width: 100%;
      margin: 0 0 0 0;
    }
  }

  &__main {
    overflow: hidden;

    @include media(sm2){
      width: 100%;
    }
  }

  &__img {
    display: block;
    @include aspect-ratio(1,1);
    border: $border;
    background: #fff;

    @include media(768px){
      @include aspect-ratio(3,2);
      max-width: 480px;
      margin: 0 auto;
    }

    img{
      @include object-fit-contain();
    }
  }

  &__header {
  }

  &__name {
    font-size: 25px;
    padding: 0;
    margin: 0 0 0.75rem 0;
    @include media(xs){
      font-size: 19px;
    }
  }

  &__secondary-info {
    color: $color-text-weaker;
    font-size: font-size(-2);
    width: 100%;
    margin: 0 0 0.75rem 0;
    @include clear();
  }

  &__rating {
    float: left;
    display: flex;
    align-items:center;
    justify-content:space-between;
    @include media(xs){
      display: block;
      float: none;
      width: 100%;
      margin-bottom: 0.25em;
    }
    .rating-stars{
      margin-right: 0.33em;
    }
  }

  &__shipping {
    float: right;
    .icon{
      margin-right: 0.33em;
    }
    @include media(xs){
      float: none;
    }
  }


  &__nav{
    margin-bottom: 1em;
  }

  .tabs__item{
    @include media(xs){
      padding-top: 0;
    }
  }

  &__descr {
    color: $color-text-weaker;
    font-size: 14px;
  }

  &__sub-heading{
    color: $color-text;
    font-size: 15px;
    margin: 0 0 0.5em 0;
  }

  &__share{
    @include media(xs){
      display: none;
    }
  }

  &__nav{
    text-align: left;
    justify-content:left;
  }


  &__thumbs{
    @include clear();
    margin-top: 3%;
    position: relative;
    @include negative-margins(3%);
  }

  &__thumb{
    @include calc-cell(20%, 3%);
    @include aspect-ratio(1,1);
    border:$border;
    @include media-between(640px, 768px){
    @include calc-cell(100%/6, 3%);
}

    &:hover{
      border: 1px solid $color-text-weak;
      cursor: pointer;
    }

    &.is-active,
    &:hover.is-active{
      border: 1px solid $color-1-h;
    }

    img{
      @include object-fit-contain();
    }
  }

}//product -detail

.related-products{
  @include section-margin(5px);
}
