// Stores table
//------------------------------------------------------------------
.stores{
  font-size: 13px;
  display: table;
  width: 100%;
  margin-bottom: 2em;

  tbody{
  }

  tbody tr:hover{
    background: $color-bg-subtle;
  }


  tr th{
    color: $color-text-weaker;
  }

  tr td,
  tr th {
    vertical-align: middle;
    border-bottom: $border;
    padding: 0.75em 0.2em;

    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }

  }


  &__logo{
    width: 80px;
    @include media(xs){
      width:60px;
    }
  }

  &__logo img{
    max-width:65px;
    max-height: 40px;
    @include media(xs){
      max-width:60px;
    }
  }

  @include media-between(769px, 980px){
    td:nth-of-type(4),
    th:nth-of-type(4){
      display: none;
    }
  }

  @include media(680px){
    td:nth-of-type(4),
    th:nth-of-type(4){
      display: none;
    }
  }

  @include media(560px){
    td:nth-of-type(3),
    th:nth-of-type(3){
      display: none;
    }
  }

  &__btn-col {
    width: 120px;
    @include media(xs){
      width: 80px;
    }
  }

  &__btn{
    font-size: 20px;
    @include media(xs){
      font-size: 15px;
    }
  }


  &__divider td{
    text-align: left;
    background: #f7f7f7;
    padding-left: 1em!important;
    color: #9c9b9b;
  }


} // stores


