// Product small media object
//----------------------------------------------------------------

@mixin prod-media{
  font-size: 14px;
  background: #fff;
  border:$border;
  box-shadow: 0 0 10px rgba(#000, 0.02);
  border-radius: 4px;

  position: relative;
  margin-bottom: 7px;
  display: flex;
  flex-wrap:wrap;
  align-items:stretch;

  @include media(640px){
    display:block;
    line-height:1.25;
    font-size: 13px;
    padding: 12px;
  }


  & > div{
    padding: 15px;
    @include media(640px){
      padding: 0;
    }
  }

  @include clear();

  &:last-of-type{
    border: none;
    margin-bottom: 0;
  }

  &__left {
    width: 65px;
    flex-shrink:0;
    margin-right: 1em;
    position: relative;
    float: left;
    @include media(640px){
      width: 45px;
      margin-right: 12px;
    }
  }

  &__img {
    @include aspect-ratio(1,1);
    width: 65px;
    img{
      @include object-fit-contain();
      border: $border;
    }
    @include media(640px){
      width: 45px;
    }
  }

  &__label {
    color: #000;
    background: yellow(0);
    font-weight: bold;
    text-align: center;
    padding: 0.1em 0.3em;
    position: absolute;
    top:5px;
    left:5px;
    border-radius: 0px;
    z-index: 1;

    @include media(640px){
      font-size: 12px;
      top:-5px;
      left:-5px;
    }
  }

  &__body {
    overflow: hidden;
    flex:1;
  }

  &__name{
    font-size: 16px;
    color: $color-text;
    font-weight: normal;
    padding: 0;
    margin: 0 0 0.25em;
    text-decoration: none;
    @include media(640px){
      font-size: 14px;
    }

    a, a:visited{
      color: inherit;
      text-decoration: none;
      &:hover{
        color: $color-1;
        text-decoration: underline;
      }
    }
  }

  &__descr {
    color:$color-text-weaker;
  }

  &__right {
    text-align: center;
    width: 150px;
    border-left: $border;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    @include media(640px){
      width: auto;
      display: block;
      text-align:left;
      border: none;
      margin: 5px 0 0 57px;
    }
  }

  &__price {
    font-size: inherit;
    margin: 0 0 0.5em;
    padding: 0;
    white-space:nowrap;
    flex-shrink:none;
    span{
      color: $color-text-weaker;
    }
    @include media(640px){
      margin: 0 10px 0 0;
      display: inline-block;
    }
  }


  &__btn {
    @include btn--out($color-3, lighten($color-3, 17%));
    @include btn--sm();
    border-radius: 33px;

    @include media(640px){
      border: none;
      line-height: inherit;
      font-size: inherit;
      height: unset;
      display: block;
      float: right;
      font-weight: normal;
      text-decoration: underline;
      padding: 0;
      &:hover{
        color: $color-1;
        background: transparent;
        border: none;
      }
    }
  }

}//prod-media


.prod-media{
  @include prod-media;
}

