@mixin prod-card{
    font-size: 14px;
    padding: 2em 1em 1.5em;
    position: relative;
    background: #fff;
    border:$border;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(#000, 0.02);
    &:hover{
//      box-shadow: 0 5px 20px rgba(#000, 0.07);
    }
    @include media(xs){
      padding: 3.5em 0.5em 0.5em;
    }

  &__img {
    @include aspect-ratio(4,3);
    width: 100%;
    max-width:200px;
    margin: 0 auto 20px;

    @include media(xs){
    }

    img{
      @include object-fit-scale-down();
    }
  }

  &__label {
    color: #000;
    background: yellow(0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 3em;
    width: 3em;
    padding: 0;
    position: absolute;
    top:0.5em;
    right:0.5em;
    z-index: 1;
    border-radius: 3em;
    display:flex;
    flex-direction:column;
    justify-content:center;

    @include media(sm2){
      font-size: 13px;
    }
  }

  &__body {
    text-align: center;
    @include media(sm){
      padding: 0.33em 0;
    }
  }

  &__name{
    font-weight: 400;
    margin: 0 0 0.5em 0;
    padding: 0;
    text-decoration: none;
    max-width:100%;
    overflow-wrap:break-word;
    @include truncate-lines(1.2em, 3);

    @include media(xs){
      font-size: 13px;
    }

    a, a:visited{
      text-decoration: none;
      &:hover{
        color: $color-2;
        //text-decoration: underline;
      }
    }
  }


  &__price {
    color: $color-text-weak;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }


}

// Product card
//----------------------------------------------------------------
.prod-card{
  @include prod-card();
}

