// Product small media object
//----------------------------------------------------------------

@mixin prod-list-sm{
  font-size: 13px;
  font-weight: $font-weight-semibold;
  position: relative;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: $border;
  @include clear();

  &:last-of-type{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__img {
    @include aspect-ratio(1,1);
    border: $border;
    width: 65px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    img{
      @include object-fit-contain();
    }
  }

  &__label {
    color: darken($color-1, 30%);
    background: $color-2;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 2em;
    line-height: 2em;
    padding: 0 0.75em;
    z-index: 1;
    display: inline-block;
    border-radius: 20px 20px 0 20px;
    margin-bottom: 0.75em;
  }

  &__name{
    font-size: 14px;
    color: $color-text;
    font-weight: normal;
    padding: 0;
    margin: 0 0 0.35em;
    text-decoration: none;

    a, a:visited{
      color: inherit;
      text-decoration: none;
      &:hover{
        color: $color-1;
        text-decoration: underline;
      }
    }
  }

  &__body {
    overflow: hidden;
    @include media(sm){
      padding: 0.5em 0;
    }
  }

  &__price {
    font-size: inherit;
    color: $color-1;
    margin: 0 0 0.25em;
    padding: 0;
  }

}//prod-list-sm


.prod-list-sm{
  @include prod-list-sm;
}

